@import '../../node_modules/@fancyapps/ui/dist/fancybox/fancybox';
@import '../../node_modules/swiper/swiper-bundle';

@import 'base/fonts';
@import 'base/vars';
@import 'base/mixins';
@import 'base/reset';
@import 'base/containers';
@import 'base/sticky-footer';
@import 'base/base';
@import 'base/titles';


@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/front-block-home';
@import 'blocks/auto-swiper';
@import 'blocks/advantage';
@import 'blocks/diagnostics';
@import 'blocks/directions';


@import 'blocks/quiz';
@import 'blocks/place';
@import 'blocks/reception';
@import 'blocks/reviews';
@import 'blocks/service';
@import 'blocks/video-reviews';
@import 'blocks/video';
@import 'blocks/map-block';
@import 'blocks/front-block-2';
@import 'blocks/wait';
@import 'blocks/modals';


@import 'blocks/footer';
@import 'blocks/animations';

