html,
body {
  min-height: 100vh;
}

.body_wrapper {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  width: 100% !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}