._title {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 58px;
  line-height: calc(72 / 58 * 100%);
  color: var(--default-color);
  margin-bottom: 50px;

  span {
    color: var(--blue-color);
    font-weight: 500;
  }

  @include xl {
    font-size: 50px;
    margin-bottom: 40px;
  }

  @include lg {
    font-size: 40px;
    margin-bottom: 30px;
  }

  @include md {
    font-size: 34px;
    margin-bottom: 25px;

    br {
      display: none;
    }
  }

  @include sm {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

._title-2 {
  font-family: var(--font-default);
  font-weight: 500;
  font-size: 44px;
  line-height: calc(52 / 44 * 100%);
  color: var(--default-color);
  text-align: center;
  margin-bottom: 50px;

  span {
    color: var(--blue-color);
  }

  @include xl {
    font-size: 40px;
    margin-bottom: 40px;
  }

  @include lg {
    font-size: 36px;
    margin-bottom: 30px;
  }

  @include md {
    font-size: 30px;
    margin-bottom: 25px;
    br {
      display: none;
    }
  }

  @include sm {
    font-size: 26px;
    margin-bottom: 20px;
  }
}

._subtitle {
  font-family: var(--font-default);
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(32 / 24 * 100%);
  margin: 15px 0 50px;

  @include xl {
    margin-bottom: 40px;
  }

  @include lg {
    margin-bottom: 30px;
  }

  @include md {
    margin-bottom: 25px;

    br {
      display: none;
    }
  }

  @include sm {
    font-size: 22px;
    margin: 10px 0 15px;
  }

  @include xs {
    font-size: 20px;
  }
}
