:root {
  // НЕЛЬЗЯ УДАЛЯТЬ ЭТИ ПЕРЕМЕННЫЕ

  // контейнер
  --container-width: 1200px;
  --container-lg-width: 1600px;
  --container-padding: 15px;

  // шрифты
  --font-default: 'Onest';
  --font-titles: var(--font-default);

  // размер шрифта
  --defaul-font-size: 18px;
  --defaul-line-height: calc(26/18*100%);
  @media (max-width: 468px) {
    --defaul-font-size: 16px;
  }

  // брекпоинты
  --xl: 1230px;
  --lg: 991.8px;
  --md: 767.98px;
  --sm: 575.98px;
  --xs: 468px;

  // глобаьлные цвета
  --page-bg: #FFFFFF;
  --default-color: #252A36;
  --link-color: #252A36;


  // ЗДЕСЬ МОЖНО ПРОПИСЫВАТЬ СВОИ ПЕРЕМЕННЫЕ

  --primary: #4487FF;
  --accent: #7BC486;
  --light-color: #FFFFFF;
  --whatsapp-color: #25D366;
  --whatsapp-hover: #2DE873;
  --telegram-color: #35A9E5;
  --telegram-hover: #54C0F8;
  --blue-color: #4A6196;
  --gray-color: #f1f1f1;
  --form-shadow: 0px 20px 55px 0px rgba(163, 169, 183, 0.15);
  --light-gray-color: #FAFAFA;

  
  
  --primary-hover: #1865f5;
  --accent-hover: #35d44d;
  

  // Отступы для блоков
  --indent: 120px;

  @media (max-width: 1230px) {
    --indent: 80px;
  }
  @media (max-width: 991.8px) {
    --indent: 40px;
  }

}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}