.advantage {
  padding-top: var(--indent);
  &__title {
    text-align: center;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include lg {
      grid-auto-flow: column;
      padding-bottom: 10px;
      overflow-x: auto;
      gap: 10px;
    }
  }

  &__card {
    border-radius: 12px;
    border: 1px solid var(--black-transparent-color);
    padding: 15px 33px 22px 35px;
    position: relative;

    @include xl {
      padding: 10px;
    }
    @include lg {
      width: 320px;
    }

    &:has(.advantage__card-list) {
      padding: 15px 20px 20px 20px;

      @include xl {
        padding: 10px;
      }

      @include md {
        padding: 15px 20px 20px 20px;
      }
    }
  }

  &__card-brand {
    width: 128px;
    height: 115px;
    position: absolute;
    top: 104px;
    right: 55px;
  }

  &__card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    padding-top: 15px;
    margin-left: 10px;

    @include xl {
        font-size: 22px;
    }

    @include lg {
      font-size: 20px;
    }
  }

  &__card-list {
    padding-top: 15px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: calc(26 / 18 * 100%);

    @include xl {
        padding-top: 10px;
    }

    @include lg {
      padding-top: 5px;
      gap: 0px;
    }
  }

  &__card-item {
    @include lg {
      font-size: 16px;
    }
  }

  &__card-img {
    border-radius: 12px;
    position: relative;
    overflow: hidden;
  }

  &__assessments {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 13px;

    @include xl {
      gap: 5px;
    }
  }

  &__assessments-left {
    padding: 18px 22px;
    max-width: 209px;
    border-radius: 12px;
    background-color: var(--gray-light-color);

    @include xl {
      padding: 22px 10px;
    }
  }

  &__assessments-text {
    @include xl {
      font-size: 16px;
    }
  }

  &__assessments-img {
    width: 100%;
    margin-top: 15px;

    @include xl {
      margin-top: 5px;
    }
  }

  &__assessments-right {
    max-width: 113px;
    width: 100%;
  }
  &__assessments-image {
    position: relative;
    padding-bottom: calc(130 / 113 * 100%);
    border-radius: 12px;
    overflow: hidden;
  }

  &__card-next {
    border-radius: 12px;
    border: 1px solid var(--black-transparent-color);
    padding: 24px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-end;
    margin-top: 20px;

    @include lg {
      padding: 10px;
    }
  }

  &__card-next-img {
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 110px;
    height: 110px;

    @include xl {
      width: 80px;
      height: 80px;
      bottom: 0;
    }
  }

  &__card-next-text {
    max-width: 192px;
    width: 100%;
  }

  &__card-next-big {
    font-weight: 700;
  }

  &__one-img {
    margin-top: 25px;
    padding-bottom: calc(295 / 360 * 100%);
  }

  &__two-img {
    padding-bottom: calc(231 / 360 * 100%);
  }

  &__three-img {
    margin-top: 26px;
    padding-bottom: calc(252 / 332 * 100%);
    @include lg {
      margin-top: 15px;
    }
  }

  &__one-title {
    margin-top: 10px;
  }
}
