.auto-swiper {
  padding-top: 60px;

  @include lg {
    padding-top: var(--indent);
  }

  .swiper-slide {
    transition: all 0.5s ease-in-out;
  }

  &__wrapper {
    position: relative;
    display: block;
    max-width: 489px;
    width: 100%;
    border-radius: 35px;
    padding-bottom: calc(324 / 489 * 100%);
    overflow: hidden;

    @include md {
        border-radius: 16px;
    }
  }
}
