.blog-posts {
  padding-top: var(--indent);

  &__elems,
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include xl {
      gap: 15px;
    }
  }
  &__elems {
    @include lg {
      gap: 10px;
      padding-bottom: 10px;
      grid-auto-flow: column;
      overflow-x: auto;
    }
  }
  &__items {
    @include lg {
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include xs {
      gap: 10px 8px;
    }
  }

  &__elem,
  &__item {
    padding: 15px 15px 40px;
    background-color: #fafafa;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;

    @include xl {
      padding-bottom: 25px;
      border-radius: 16px;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 95px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 139px;
      height: 126px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url(../images/icons/book.svg);
    }
  }
  &__elem {
    @include lg {
      width: 300px;
    }
  }
  &__item {
    @include xs {
      padding: 10px;
      border-radius: 10px;
    }
  }

  &__elem-wrapper,
  &__item-wrapper {
    position: relative;
    padding-bottom: calc(257 / 350 * 100%);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
  }

  &__elem-info,
  &__item-info {
    padding: 25px 15px 0 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    @include xl {
      padding: 15px 0 0;
    }
    @include lg {
      br {
        display: none;
      }
    }
  }

  &__elem-text,
  &__item-text {
    font-weight: 400;
    font-size: 20px;
    line-height: calc(28 / 20 * 100%);
    margin-bottom: 40px;

    @include xl {
      font-size: 18px;
      margin-bottom: 25px;
    }

    span {
      font-weight: 500;
    }
  }
  &__item-text {
    @include md {
      font-size: 16px;
      margin-bottom: 15px;
    }
    @include sm {
      font-size: 14px;
    }
    @include xs {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  &__elem-link,
  &__item-link {
    margin-top: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(26 / 20 * 100%);
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 12px;

    @include xl {
      font-size: 18px;
    }

    svg path {
      fill: var(--primary);
    }
  }
  &__item-link {
    @include md {
      font-size: 16px;
      gap: 10px;
    }
    @include sm {
      font-size: 14px;
    }
    @include xs {
      font-size: 12px;
    }
  }
}
