.consult-form {
  margin-top: 170px;

  @include xl {
      margin-top: var(--indent);
  }

  &__form {
    background-color: #e9e9e9;
    border-radius: 24px;
    padding: 50px 60px;

    @include lg {
        padding: 25px 30px;
        border-radius: 16px;
    }
    @include sm {
      padding: 25px;
        br{display: none;}
    }
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: calc(40 / 32 * 100%);
    margin-bottom: 15px;

    @include xl {
      font-size: 26px;
    }

    @include lg {
      font-size: 24px;
      margin-bottom: 10px;
    }
    @include md {
      font-size: 22px;
      margin-bottom: 5px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: calc(30 / 22 * 100%);
    margin-bottom: 30px;

    @include xl {
      font-size: 20px;
      margin-bottom: 20px;
    }
    @include md {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  &__inner {
    max-width: 770px;
    position: relative;
    z-index: 1;
  }

  &__inputs {
    display: flex;
    gap: 10px;
    @include md {
        flex-direction: column;
    }
  }

  &__btn {
    max-width: 360px;
    @include md {
        max-width: none;
    }
  }

  &__stars {
    position: absolute;
    top: 64px;
    right: 28.5%;

    @include xl {
      max-width: 125px;
    }
    @include lg {
        right: 25px;
        top: 30px;
    }
    @include md {
        display: none;
    }
  }

  &__phone {
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 36.334%;

    @include lg {
        display: none;
    }
  }
}
