.content-block {
  padding-top: var(--indent);

  &__inner {
    display: grid;
    grid-template-columns: 1fr minmax(0, 440px);
    gap: 100px;

    @include xl {
      gap: 30px;
    }

    @include lg {
      gap: 20px;
      grid-template-columns: 1fr;
    }
  }

  &__left{
    position: relative;
  }

  &__logo{
    max-width: 310px;
    position: absolute;
    top: 46px;
    z-index: -1;
  }

  &__form {
    background-color: var(--light-color);
    box-shadow: 0px 20px 55px rgba(163, 169, 183, 0.15);
    border-radius: 24px;
    height: fit-content;
    padding: 50px 45px;

    @include xl {
        padding: 45px;
    }
    
    @include lg {
      max-width: 400px;
      margin: 0 auto;
    }

    @include xs {
        padding: 30px;
    }
  }

  &__form-title {
    font-weight: 500;
    font-size: 35px;
    line-height: calc(41/35*100%);

    @include xl {
        font-size: 32px;
    }

    @include lg {
        font-size: 28px;
    }

    @include sm {
      font-size: 24px;
    }
  }

  &__form-subtitle {
    margin-top: 15px;
    font-weight: 400;
    font-size: 22px;
    line-height: calc(30/22*100%);

    @include xl {
        font-size: 20px;
    }

    @include sm {
      font-size: 18px;
    }
  }

  &__form-inputs {
    margin-top: 30px;
    display: grid;
    gap: 10px;

    @include xl {
        margin-top: 20px;
    }

    @include sm {
        margin-top: 10px;
    }
  }

  &__form-policy {
    margin-left: 0;
  }
}
