.current-promotions {
  padding-top: var(--indent);

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include xl {
      gap: 10px;
    }

    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      gap: 5px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    border-radius: 20px;
    min-height: 734px;
    padding: 35px 15px;
    @include xl {
      padding: 25px 15px;
      min-height: 600px;
    }
    @include md {
        br{display: none;}
    }
    @include sm {
        padding: 15px;
        border-radius: 16px;
        min-height: 535px;
    }
    @include xs {
        padding: 10px;
        min-height: 480px;
    }
    @include xs {
        border-radius: 10px;
    }
  }
  &__item-info {
    padding: 0 15px;
    margin-bottom: 35px;
    @include xl {
      padding: 0;
      margin-bottom: 20px;
    }
    @include sm {
        margin-bottom: 15px;
    }
    @include xs {
        margin-bottom: 10px;
    }
  }
  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);

    @include xl {
      font-size: 22px;
    }
    @include md {
        font-size: 20px;
    }
    @include sm {
        font-size: 18px;
    }
    @include xs {
        font-size: 16px;
    }
  }
  &__item-price {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    @include xl {
      gap: 10px;
      margin: 10px 0;
      font-size: 16px;
    }
    @include md {
        margin: 5px 0;
        gap: 5px;
        flex-direction: column;
    }
    @include xs {
        font-size: 14px;
        gap: 4px;
    }
  }
  &__item-now {
    padding: 8px 12px;
    width: fit-content;
    background-color: var(--accent);
    border-radius: 5px;
    color: var(--light-color);
    span {
      font-weight: 600;
    }
    @include md {
        width: 100%;
        text-align: center;
    }
    @include sm {
        padding: 5px 10px;
    }
    @include xs {
        padding: 4px;
    }
  }

  &__item-old {
    color: rgba(54, 37, 37, 0.4);
    font-weight: 600;
    span {
      text-decoration: line-through;
      font-weight: 400;
    }
  }

  &__item-list {
    display: grid;
    gap: 5px;
    span {
      font-weight: 600;
    }

    @include md {
        font-size: 16px;
    }
    @include sm {
        font-size: 14px;
        gap: 0;
    }
    @include xs {
        font-size: 12px;
    }
  }

  &__item-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  &__item-term {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    @include md {
        top: 10px;
        left: 10px;
    }
  }
  &__item-time,
  &__item-date {
    padding: 0 10px;
    background-color: var(--light-color);
    border-radius: 3px;
    width: fit-content;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(26 / 14 * 100%);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    height: 25px;
    @include md {
        height: auto;
        font-size: 12px;
    }
    @include xs {
        font-size: 10px;
        padding: 0 5px;
    }
  }
  &__item-time {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__item-btn {
    position: absolute;
    width: auto;
    left: 15px;
    right: 15px;
    bottom: 20px;
    font-size: 18px;
    height: 86px;
    @include xl {
      height: 76px;
      font-size: 16px;
    }
    @include md {
        left: 10px;
        right: 10px;
        bottom: 10px;
        font-size: 14px;
        height: 65px;
    }
    @include xs {
        font-size: 12px;
        border-radius: 10px;
        height: 50px;
    }
  }
}
