.diagnostics {
  margin-top: var(--indent);
  background-image: url("../images/diagnostics-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding: var(--indent) 0;

  &__suptitle {
    padding: 15px 25px;
    background-color: var(--accent);
    color: var(--light-color);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(26 / 18 * 100%);
    width: fit-content;
    margin-bottom: 20px;
    @include lg {
      margin-bottom: 10px;
    }

    @include md {
      padding: 10px;
    }

    @include sm {
      font-size: 16px;
    }

    @include xs {
      font-size: 12px;
    }
  }

  &__title {
    text-align: left;
  }

  &__form {
    padding: 50px 45px;
    max-width: 490px;
    box-shadow: var(--form-shadow);
    background-color: var(--light-color);
    border-radius: 24px;
    @include lg {
      padding: 30px;
    }

    @include sm {
      padding: 20px 15px;
    }
  }

  &__form-title {
    font-size: 32px;
    font-weight: 500;
    line-height: calc(40 / 32 * 100%);
    @include lg {
      font-size: 28px;
    }

    @include md {
      font-size: 24px;
    }

    @include sm {
      font-size: 22px;
    }
  }

  &__form-subtitle {
    margin-top: 15px;
    font-size: 22px;
    line-height: calc(30 / 22 * 100%);
    @include lg {
      margin-top: 5px;
    }

    @include md {
      font-size: 18px;
    }
  }

  &__form-inp {
    margin-top: 30px;
    @include xl {
      margin-top: 20px;
    }
    @include lg {
      margin-top: 15px;
    }
  }

  &__form-button {
    font-size: 18px;
    font-weight: 500;
    line-height: calc(26 / 18 * 100%);
    margin-top: 10px;

    @include xs {
      font-size: 14px;
    }

    &::after {
      display: none;
    }
  }

  &__form-conditions {
    margin-top: 20px;
    margin-left: 35px;
  }
  &__links {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    @include lg {
        margin-top: 15px;
        gap: 15px;
        flex-direction: column;
    }
    span {
      font-weight: 500;
      font-size: 16px;
      line-height: calc(22 / 16 * 100%);
      text-decoration: underline;
      text-underline-offset: 3px;
      &.whatsapp{
        color: var(--whatsapp-color);
      }
      &.telegram{
        color: var(--telegram-color);
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
