.diagnostics {
    max-width: 1460px;
    width: 100%;
    background-image: url('../images/diagnostics-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 24px;
    padding-top: 100px;
    padding-bottom: 100px;

    @include lg {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    @include md {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @include sm {
        padding-top: 30px;
        padding-bottom: 30px;
    }


    &__inner {
        max-width: 625px;
        width: 100%;

        @include md {
            max-width: inherit;
        }
    }

    &__subtitle {
        padding: 15px 25px;
        background-color: var(--accent);
        color: var(--light-color);
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        line-height: calc(26/18 * 100%);
        position: relative;

        @include md {
            padding: 10px;
        }

        @include sm {
            font-size: 16px;
        }

        @include xs {
            font-size: 12px;
        }
    }

    &__title {
        padding-top: 25px;
    }

    &__form {
        margin-top: 50px;
        padding: 50px 45px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 490px;
        width: 100%;
        box-shadow: var(--form-shadow);
        border-radius: 24px;

        @include sm {
            margin-top: 20px;
            padding: 20px 15px;
        }
    }

    &__form-title {
        font-size: 32px;
        font-weight: 500;
        line-height: calc(40/32 * 100%);

        @include md {
            font-size: 24px;
        }

        @include sm {
            font-size: 20px;
        }
    }

    &__form-subtitle {
        margin-top: 15px;
        font-size: 22px;
        line-height: calc(30/22 * 100%);

        @include md {
            font-size: 18px;
        }
    }

    &__form-telephone {
        margin-top: 30px;
    }

    &__form-button {
        font-size: 18px;
        font-weight: 500;
        line-height: calc(26/18 * 100%);
        margin-top: 10px;

        @include xs {
            font-size: 14px;
        }

        &::after {
            display: none;
        }
    }

    &__form-conditions {
        margin-top: 20px;
        margin-left: 35px;
    }
}