.direction-treatment {
  padding-top: var(--indent);

  &__logo {
    position: absolute;
    top: -13px;
    z-index: -1;
    max-width: 1196px;
    left: 19px;

    svg path {
      fill: #fafafa;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__btns {
    padding: 8px;
    display: flex;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    max-width: 891px;
    width: 100%;
    margin: 0 auto 50px;

    @include xl {
      margin-bottom: 40px;
    }
    @include lg {
      margin-bottom: 30px;
    }
    @include md {
      margin-bottom: 20px;
    }
  }
  &__btn {
    max-width: 285px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 14px;
    padding: 30px;
    cursor: pointer;
    &.active {
      background-color: var(--accent);
      box-shadow: inset 0px 10px 15px rgba(255, 255, 255, 0.15);
      border-radius: 14px;
      color: var(--light-color);
    }

    @include hover {
      background-color: var(--accent);
      color: var(--light-color);
      box-shadow: inset 0px 10px 15px rgba(255, 255, 255, 0.15);
      border-radius: 14px;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include xl {
      gap: 15px;
    }
    @include lg {
      gap: 10px;
      padding-bottom: 10px;
      grid-auto-flow: column;
      overflow-x: auto;
    }
  }
  &__item {
    background-color: #fafafa;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 35px 30px;
    display: none;

    &.active {
      display: flex;
    }

    @include xl {
      padding: 25px 20px;
    }

    @include lg {
      width: 300px;
    }
  }
  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    margin-bottom: 18px;

    @include xl {
      font-size: 22px;
      margin-bottom: 10px;
      br {
        display: none;
      }
    }
    @include lg {
        font-size: 20px;
    }
  }
  &__item-link {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-top: auto;
    margin-bottom: 20px;
    @include xl {
      margin-bottom: 15px;
    }
    @include md {
      margin-bottom: 10px;
      gap: 5px;
    }

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: calc(22 / 16 * 100%);
      text-decoration: underline;
      text-underline-offset: 3px;
      color: var(--primary);

      @include md {
        font-size: 14px;
      }
      @include xs {
        font-size: 12px;
      }
    }
  }
  &__item-images {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    @include lg {
        margin-bottom: 10px;
    }
  }

  &__item-wrapper {
    position: relative;
    padding-bottom: calc(200 / 320 * 100%);
  }
  &__item-doctor {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;

    @include lg {
        margin-bottom: 10px;
    }
  }

  &__item-photo {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    @include xl {
      width: 80px;
      height: 80px;
      min-width: 80px;
      min-height: 80px;
    }
  }
  &__item-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    span {
      font-weight: 700;
    }
  }

  &__item-btn {
    height: 86px;

    @include xl {
      height: 76px;
    }
    @include md {
      height: 65px;
    }
  }
}
