.directions {
  padding-top: var(--indent);

  &__title {
    margin-bottom: 0;
  }

  &__cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    @include xl {
      gap: 10px;
    }

    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      gap: 5px;
    }
  }

  &__card {
    position: relative;
    padding: 35px 30px;
    border-radius: 20px;
    overflow: hidden;
    min-height: 710px;

    @include xl {
      padding: 30px 25px;
    }
    @include md {
      padding: 20px 15px;
      min-height: auto;
      border-radius: 12px;
    }
    @include sm {
      padding: 15px;
    }
    @include xs {
      padding: 10px;
      border-radius: 8px;
    }
  }

  &__bg {
    z-index: -1;
  }
  &__card-inner {
    display: flex;
    flex-direction: column;
    color: var(--light-color);
    height: 100%;
  }

  &__card-num {
    position: absolute;
    right: 35px;
    top: 40px;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--light-color);
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(32 / 20 * 100%);
    color: var(--default-color);

    @include xl {
      right: 25px;
    }
    @include md {
      width: 35px;
      height: 35px;
      font-size: 16px;
      right: 10px;
      top: 10px;
    }
    @include sm {
      width: 30px;
      height: 30px;
      font-size: 14px;
    }
    @include xs {
      width: 25px;
      height: 25px;
      font-size: 12px;
    }
  }

  &__card-title--link {
    color: var(--light-color);
    &:hover {
      color: var(--primary);
    }
  }

  &__card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    transition: all 0.3s ease-in-out;
    color: inherit;

    @include md {
      font-size: 20px;
    }
    @include sm {
      font-size: 18px;
    }
    @include xs {
      font-size: 16px;
    }
  }

  &__card-list {
    display: grid;
    gap: 8px;
    padding-top: 15px;
    margin-bottom: 33px;
    @include md {
      margin-bottom: 15px;
      gap: 5px;
      padding-top: 10px;
    }
    @include xs {
      gap: 0;
      padding-top: 5px;
    }
  }

  &__card-link {
    color: var(--light-color);
    text-decoration: underline 1px;
    text-underline-offset: 3px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--primary);
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 14px;
    }
    @include xs {
      font-size: 12px;
    }
  }

  &__card-button {
    margin-top: auto;
    font-size: 18px;
    @include xs {
      font-size: 12px;
    }
  }
}
