.doctors-directions {
  padding-top: var(--indent);

  &__items {
    background-image: url(../images/doctors-directions.webp);
    padding: 80px 162px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @include xl {
        padding: 80px;
    }

    @include lg {
        padding: 40px;
    }
    @include md {
        grid-template-columns: repeat(2, 1fr);
      }
      @include xs {
        grid-template-columns: repeat(1, 1fr);
        padding: 30px 20px;
    }
  }
  &__item {
    background: linear-gradient(
      287.89deg,
      #fafbfc 25.6%,
      #dedede 63.14%,
      #fafbfc 74.4%
    );
    border-radius: 14px;
    padding: 20px;
    min-height: 92px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    @include lg {
        font-size: 16px;
    }
    @include sm {
        padding: 15px;
    }

    @include hover {
        background: linear-gradient(
      287.89deg,
      #7BC486 25.6%,
      #7BC486 63.14%,
      #7BC486 74.4%
    );
        color: var(--light-color);
    }
  }
}
