.doctors {
  padding-top: var(--indent);
  position: relative;

  &__inner {
    display: grid;
    grid-template-columns: minmax(0, 340px) minmax(0, 790px);
    gap: 70px;

    @include xl {
      grid-template-columns: minmax(0, 300px) minmax(0, 790px);
      gap: 30px;
    }
    @include lg {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
  &__left {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 35px 30px;
    height: fit-content;
    background-color: var(--light-color);

    @include lg {
      padding: 20px;
      border-radius: 12px;
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
    }
  }
  &__list {
    display: grid;
    gap: 15px;
    @include lg {
      gap: 10px;
    }
    @include sm {
        gap: 5px;
    }
  }
  &__list-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    &:hover,
    &.active,
    &:active {
      span {
        color: var(--accent);
      }
      svg {
        path {
          fill: var(--accent);
        }
      }
    }

    span {
      text-decoration: underline;
      text-underline-offset: 3px;
      transition: inherit;
    }
    svg {
      width: 10px;
      height: 6px;
      rotate: -90deg;

      path {
        fill: rgba(37, 42, 54, 0.3);
        transition: inherit;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include xl {
      gap: 15px;
    }
  }

  &__item {
    background-color: #fafafa;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;

    @include md {
        padding: 15px;
        border-radius: 12px;
    }

    @include xs {
        padding: 10px;
    }
  }
  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    margin-bottom: 15px;
    @include md {
        font-size: 22px;
        margin-bottom: 10px;
    }

    @include sm {
        font-size: 20px;
        margin-bottom: 5px;
    }
    @include xs {
        font-size: 18px;
    }

    @include xs {
        font-size: 16px;
    }
  }
  &__item-list,
  &__item-position {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    @include xs {
        font-size: 14px;
    }
    @include xs {
        font-size: 12px;
    }
  }
  &__item-position {
    margin-bottom: 10px;
    @include sm {
        margin-bottom: 5px;
    }
  }
  &__item-list {
    margin-bottom: 15px;
    @include md {
        margin-bottom: 10px;
    }
    @include sm {
        margin-bottom: 5px;
    }
  }
  &__item-link {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    margin-bottom: 15px;
    @include md {
        margin-bottom: 10px;
        gap: 5px;
    }

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: calc(22 / 16 * 100%);
      text-decoration: underline;
      text-underline-offset: 3px;
      color: var(--primary);

      @include md {
          font-size: 14px;
      }
      @include xs {
          font-size: 12px;
      }
    }
  }

  &__item-wrapper {
    position: relative;
    display: block;
    padding-bottom: calc(382 / 320 * 100%);
    border-radius: 20px;
    overflow: hidden;
    @include xs {
        border-radius: 14px;
    }

    .play {
      &__inner {
        right: 25px;
        bottom: 25px;
        position: absolute;

        @include md {
            width: 60px;
            height: 60px;
        }
        @include sm {
            right: 15px;
            bottom: 15px;
        }
        @include xs {
            width: 50px;
            height: 50px;
        }
      }
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    top: 250px;
    left: -16%;
  }
}
