.doctors-about {
  padding-top: var(--indent);

  &__inner {
    display: flex;
    gap: 100px;

    @include xl {
        gap: 30px;
    }
    @include lg {
        flex-direction: column;
    }
    @include sm {
        gap: 20px;
    }
  }

  &__left {
    max-width: 400px;
    width: 100%;
    height: unset;

    @include xl {
        max-width: 320px;
    }
    @include lg {
        max-width: 350px;
        margin: 0 auto;
    }

    @include sm {
        max-width: 290px;
    }
  }

  &__left-wrapper {
    position: relative;
    height: 100%;
    padding-bottom: calc(712 / 400 * 100%);
    border-radius: 20px;
    overflow: hidden;

    @include lg {
        height: auto;
        padding-bottom: 100%;
    }
  }

  &__left-img{
    @include lg {
        object-position: top;
    }
  }

  &__right{
    width: 100%;
  }

  &__list {
    display: grid;
    gap: 20px;

    @include xl {
        gap: 15px;
    }
    @include sm {
        gap: 10px;
    }
  }

  &__point {
    span {
      font-weight: 600;
    }
    @include sm {
        font-size: 16px;
        br{display: none;}
    }
  }

  &__form {
    margin-top: 32px;
    padding: 40px 50px 50px 30px;
    background-color: #f3f3f3;
    border-radius: 20px;

    @include xl {
        margin-top: 15px;
        padding: 30px;
    }

    @include xs {
        padding: 20px;
    }
  }

  &__form-title {
    font-weight: 500;
    font-size: 32px;
    line-height: calc(40 / 32 * 100%);
    margin-left: 17px;

    @include xl {
        font-size: 26px;
        margin-left: 0;
    }
    @include md {
        font-size: 22px;
    }
    @include sm {
        font-size: 20px;
    }
  }

  &__form-inner {
    margin-top: 20px;
    @include md {
        margin-top: 15px;
    }
  }

  &__form-inputs {
    display: flex;
    gap: 10px;
    @include md {
        flex-direction: column;
    }
  }

  &__form-btn {
    max-width: 290px;
    font-size: 16px;
    @include md {
        max-width: none;
    }
  }
  &__form-inp {
    font-size: 16px;
  }
}
