.front-block-doctors {
  background-image: url(../images/front-block-doctors.webp);
  padding: 270px 0 682px;
  position: relative;
  overflow: hidden;

  @include xl {
    padding: 220px 0 500px;
  }

  @include lg {
    padding: 150px 0 400px;
  }

  @include md {
      padding-bottom: 300px;
  }

  @include sm {
    padding: 120px 0 250px;
  }
  .overlay {
    @include lg {
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__title{
    text-align: center;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    @include xl {
      gap: 30px;
    }
    @include lg {
      order: 1;
    }
    @include md {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
    }
  }

  &__btn {
    max-width: 332px;
    height: 100px;
    font-size: 20px;
    @include xl {
      height: 80px;
      font-size: 16px;
    }

    @include lg {
      height: 75px;
    }

    @include sm {
      height: 65px;
      font-size: 14px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 20px;

    &:hover {
      color: var(--primary);

      .front-block-doctors__link-icon {
        scale: 1.1;
      }
    }
  }

  &__link-text {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(26 / 18 * 100%);
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: all 0.3s ease-in-out;
  }
}
