.front-block-reviews {
  background-image: url(../images/front-block-doctor.webp);
  padding: 270px 0 150px;
  position: relative;

  @include xl {
    padding-top: 220px;
    padding-bottom: var(--indent);
  }
  @include lg {
    padding-top: 150px;
  }

  @include sm {
    padding-top: 120px;
  }
  .overlay {
    @include lg {
      display: block;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__title {
    text-align: center;
  }

  &__bottom {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    @include xl {
      gap: 30px;
      margin-top: 40px;
    }
    @include lg {
        margin-top: 30px;
    }
    @include md {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
    }
  }
}
