.front-block-services {
  background-image: url(../images/front-block-services.webp);
  padding: 310px 0 200px;
  position: relative;

  @include xl {
    padding: 220px 0 100px;
  }

  @include lg {
    padding: 150px 0 80px;
  }

  @include sm {
    padding: 120px 0 40px;
  }
  .overlay {
    @include lg {
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__title {
    margin-bottom: 20px;

    @include md {
      margin-bottom: 15px;
    }
  }

  &__links {
    max-width: 566px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 45px;

    @include xl {
      margin-bottom: 40px;
    }
    @include lg {
      margin-bottom: 30px;
    }
    @include md {
      margin-bottom: 20px;
    }
  }

  &__link {
    padding: 12px 15px;
    width: fit-content;
    background-color: var(--light-color);
    border-radius: 10px;
    transition: var(--transition);

    @include hover {
        background-color: var(--primary);
        color: var(--light-color);
    }
  }
}
