.front-block-blogs {
  background-image: url(../images/front-block-blogs.webp);
  padding: 270px 0;
  position: relative;

  @include xl {
    padding: 220px 0 100px;
  }

  @include lg {
    padding: 150px 0 80px;
  }

  @include sm {
    padding: 120px 0 40px;
  }
  .overlay {
    @include lg {
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__inner {
    position: relative;
  }

  &__title {
    margin: 50px 0;
    display: flex;
    align-items: center;
    gap: 25px;

    @include xl {
      margin: 40px 0;
    }
    @include lg {
      margin: 30px 0;
    }
    @include md {
      margin-bottom: 20px;
      width: fit-content;
    }
    @include sm {
      margin: 30px 0 15px;
    }

    svg {
      max-width: 116px;
      height: fit-content;

      @include lg {
        max-width: 90px;
      }
      @include sm {
        max-width: 70px;
      }
      path {
        fill: var(--blue-color);
      }
    }
  }

  &__right {
    position: absolute;
    right: 0;
    top: -45px;
    width: 45.25%;

    @include xl {
      width: 37%;
      top: 0;
    }
    @include lg {
      display: none;
    }
  }
}
