.front-block-home {
  background-image: url(../images/front-block-home.webp);
  padding: 223px 0 133px;
  position: relative;
  border-radius: 0 0 150px 150px;
  overflow: hidden;

  @include xl {
    padding: 220px 0 100px;
  }

  @include lg {
    padding: 120px 0 80px;
  }

  @include sm {
    padding: 120px 0 40px;
  }

  &__inner {
    max-width: 850px;
    margin: 0 auto;
    position: relative;
  }

  &__title {
    font-weight: 700;
    font-size: 100px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.1em;
    color: transparent;
    background-image: url(../images/text-bg.webp);
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 20px;

    @include xl {
        font-size: 80px;
        text-align: left;
        margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: calc(36/28*100%);
    margin-bottom: 45px;

    @include xl {
        font-size: 26px;
        margin-bottom: 30px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 40px;

    @include xl {
        gap: 30px;
    }
  }

  &__btn {
    max-width: 332px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 20px;

    &:hover{
      color: var(--primary);

      .front-block-home__link-icon{
        scale: 1.1;
      }
    }
  }

  &__link-text {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(26/18*100%);
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: all .3s ease-in-out;

  }

  &__slogan {
    position: absolute;
    right: -200px;
    top: 78px;

    li::before{
      display: none;
    }

    @include xl {
        top: 10px;
        right: -160px;
    }
  }

  &__slogan-text {
    padding: 5px 15px;
    background-color: var(--light-color);
    box-shadow: -77px 147px 67px rgba(0, 0, 0, 0.01), -44px 83px 56px rgba(0, 0, 0, 0.05), -19px 37px 42px rgba(0, 0, 0, 0.09), -5px 9px 23px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(36/20*100%);

    @include xl {
        font-size: 18px;
    }

    &:nth-child(1) {
      position: relative;
      z-index: 1;
      rotate: -7.3deg;
    }

    &:nth-child(2) {
      rotate: 2.46deg;
      transform: translateY(10px);
    }

    &:nth-child(3) {
      transform: translateY(26px);
      rotate: -5.46deg;
      
      @include xl {
        transform: translateY(5px);
      }
    }
  }

  &__arrow-btn {
    margin: 636px auto 0;
    width: 73px;
    height: 73px;
    background-color: var(--light-color);
    backdrop-filter: blur(42.15px);
    border-radius: 50%;
    outline: 1px solid rgba(0, 0, 0, 0.02);
    outline-offset: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;

    @include xl {
        margin-top: 300px;
    }

    &:hover{
      scale: 1.1;
      background-color: var(--primary);
    }
    svg{
      height: 12px;
      width: 21px;

      path{
        fill: #DDDDDD;
      }
    }
  }

}