.front-block-portfolio {
  background-image: url(../images/front-block-doctor.webp);
  padding: 270px 0 150px;
  position: relative;

  @include xl {
    padding-top: 220px;
    padding-bottom: var(--indent);
  }
  @include lg {
    padding-top: 150px;
  }

  @include sm {
    padding-top: 120px;
  }
  .overlay {
    @include lg {
      display: block;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__title {
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 40px;

    @include lg {
      margin-bottom: 30px;
      br {
        display: none;
      }
    }
    @include md {
        margin-bottom: 20px;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    @include xl {
      gap: 15px;
    }
    @include lg {
      gap: 10px;
      padding-bottom: 10px;
      grid-auto-flow: column;
      overflow-x: auto;
    }
  }
  &__image-wrapper {
    padding-bottom: calc(370/288*100%);
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    @include lg {
      width: 280px;
    }
  }
}
