.front-block-promotion {
  background-image: url(../images/front-block-promotion.webp);
  padding: 290px 0 170px;
  position: relative;

  @include xl {
    padding: 220px 0 100px;
  }

  @include lg {
    padding: 150px 0 80px;
  }

  @include sm {
    padding: 120px 0 40px;
  }
  .overlay {
    @include lg {
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__title {
    margin-bottom: 20px;

    @include md {
      margin-bottom: 15px;
    }
  }

  &__subtitle{
    margin: 25px 0 50px;
    @include xl {
        margin: 20px 0 40px;
    }
    @include lg {
        margin-bottom: 30px;
    }
    @include md {
        margin: 15px 0 20px;
    }
    @include sm {
        margin-bottom: 15px;
    }
    span{
      padding: 3px 10px 3px 22px;
      background-color: #FF7940;
      color: var(--light-color);
      border-radius: 48px;
      font-weight: 500;
    }
  }
}
