.front-block-home {
  background-image: url(../images/front-block-home.webp);
  padding: 223px 0 133px;
  position: relative;
  border-radius: 0 0 150px 150px;
  overflow: hidden;

  @include xl {
    padding: 220px 0 100px;
  }

  @include lg {
    padding: 150px 0 80px;
    border-radius: 0 0 80px 80px;
  }

  @include sm {
    padding: 120px 0 40px;
  }
  .overlay{
    @include lg {
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__inner {
    max-width: 850px;
    margin: 0 auto;
    position: relative;

    @include lg {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 100px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.1em;
    color: transparent;
    background-image: url(../images/text-bg.webp);
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 20px;

    @include xl {
      font-size: 80px;
      text-align: left;
      margin-bottom: 15px;
    }
    @include md {
        font-size: 58px;
        margin-bottom: 10px;
    }

    @include sm {
        font-size: 46px;
    }
    @include xs {
        font-size: 40px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: calc(36 / 28 * 100%);
    margin-bottom: 45px;

    @include xl {
      font-size: 26px;
      margin-bottom: 30px;
    }
    @include lg {
        font-size: 24px;
    }
    @include md {
        font-size: 22px;
        margin-bottom: 15px;
    }
    @include xs {
        font-size: 20px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 40px;

    @include xl {
      gap: 30px;
    }
    @include lg {
      order: 1;
    }
    @include md {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 10px;
        max-width: 350px;
        width: 100%;
    }
  }

  &__btn {
    max-width: 332px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 20px;

    &:hover {
      color: var(--primary);

      .front-block-home__link-icon {
        scale: 1.1;
      }
    }
  }

  &__link-text {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(26 / 18 * 100%);
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: all 0.3s ease-in-out;
  }

  &__slogan {
    position: absolute;
    right: -200px;
    top: 78px;

    li::before {
      display: none;
    }

    @include xl {
      top: 50px;
      right: -70px;
    }

    @include lg {
      position: static;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
  }

  &__slogan-text {
    padding: 5px 15px;
    background-color: var(--light-color);
    box-shadow: -77px 147px 67px rgba(0, 0, 0, 0.01),
      -44px 83px 56px rgba(0, 0, 0, 0.05), -19px 37px 42px rgba(0, 0, 0, 0.09),
      -5px 9px 23px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(36 / 20 * 100%);

    @include xl {
      font-size: 18px;
    }


    &:nth-child(1) {
      position: relative;
      z-index: 1;
      rotate: -7.3deg;
    }

    &:nth-child(2) {
      rotate: 2.46deg;
      transform: translateY(10px);
    }

    &:nth-child(3) {
      transform: translateY(26px);
      rotate: -5.46deg;

      @include xl {
        transform: translateY(5px);
      }
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3){
      @include lg {
          rotate: 0deg;
          transform: none;
      }
    }
  }

  &__arrow-btn {
    margin: 636px auto 0;
    width: 73px;
    height: 73px;
    background-color: var(--light-color);
    backdrop-filter: blur(42.15px);
    border-radius: 50%;
    outline: 1px solid rgba(0, 0, 0, 0.02);
    outline-offset: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    @include xl {
      margin-top: 300px;
    }
    @include lg {
      margin-top: 200px;
      order: 2;
    }
    @include sm {
        margin-top: 100px;
        width: 65px;
        height: 65px;
    }

    &:hover {
      scale: 1.1;
      background-color: var(--primary);
    }
    svg {
      height: 12px;
      width: 21px;

      path {
        fill: #dddddd;
      }
    }
  }
}
