.front-block-service {
  background-image: url(../images/front-block-service.webp);
  padding: 271px 0 44px;
  position: relative;

  @include xl {
    padding-top: 220px;
  }

  @include lg {
    padding-top: 150px;
  }

  @include sm {
    padding: 120px 0 40px;
  }
  .overlay {
    @include lg {
      display: block;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    @include md {
      flex-direction: column;
    }
  }

  &__left {
    max-width: 710px;
    width: 100%;
  }

  &__title {
    margin-bottom: 0;
  }

  &__subtitle {
    @include lg {
      br {
        display: none;
      }
    }
  }

  &__left-bottom {
    margin-top: 35px;

    display: flex;
    align-items: start;
    gap: 20px;

    @include xl {
      margin-top: 30px;
    }

    @include lg {
      margin-top: 20px;
      flex-direction: column-reverse;
      gap: 15px;
    }

    @include md {
      margin-top: 15px;
      gap: 15px;
    }
  }

  &__left-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 332px;
    width: 100%;

    @include md {
      gap: 15px;
    }
  }

  &__btn {
    height: 100px;

    @include xl {
      height: 80px;
    }

    @include lg {
      height: 75px;
    }

    @include sm {
      height: 65px;
    }
  }

  &__consult {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__consult-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    
    @include xs {
      width: 80px;
      height: 80px;
      min-width: 80px;
      min-height: 80px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      display: block;
      border-radius: 50%;
      background-color: #4cb34c;
      border: 3px solid #fff;
      right: 10px;
      bottom: 5px;
    }
  }

  &__consult-img {
    border-radius: 50%;
  }

  &__consult-text {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(26 / 18 * 100%);
    text-decoration: underline;
    text-underline-offset: 3px;

    @include xs {
        font-size: 16px;
    }
  }

  &__right {
    max-width: 440px;
    width: 100%;
    height: unset;

    @include xl {
      max-width: 320px;
    }
    @include md {
      max-width: none;
    }
  }

  &__right-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;

    @include md {
      padding-bottom: 56%;
    }

    @include sm {
        padding-bottom: 69%;
    }
  }

  &__right-content {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }

  &__right-cursor {
    position: absolute;
    width: 32px;
    height: 32px;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    box-shadow: 0px 10px 20px rgba(154, 202, 161, 0.15),
      inset 0px 5px 10px rgba(255, 255, 255, 0.15);
    border-radius: 14px;
  }

  &__items {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    @include xl {
      margin-top: 40px;
    }
    @include lg {
      margin-top: 30px;
    }
    @include md {
      margin-top: 20px;
    }
  }

  &__item {
    background-color: var(--light-color);
    border-radius: 15px;
    padding: 20px 30px;
    width: fit-content;
    text-align: center;
    transition: var(--transition);

    @include hover {
      background-color: var(--accent);
      color: var(--light-color);
    }

    @include md {
      padding: 15px;
      font-size: 16px;
    }
  }
}
