.front-block-doctor {
  background-image: url(../images/front-block-doctor.webp);
  padding: 271px 0 120px;
  position: relative;

  @include xl {
    padding-top: 220px;
    padding-bottom: var(--indent);
  }

  @include lg {
    padding-top: 150px;
  }

  @include sm {
    padding-top: 120px;
  }
  .overlay {
    @include lg {
      display: block;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    @include xl {
      align-items: center;
    }

    @include md {
      flex-direction: column;
    }
  }

  &__left {
    margin-top: 90px;
    max-width: 600px;
    width: 100%;

    @include xl {
      margin-top: 0;
    }
  }

  &__title {
    margin-bottom: 0;
    font-weight: 500;
  }

  &__subtitle{
    @include lg {
        br{display: none;}
    }
  }

  &__experience {
    margin-top: 30px;
    background-color: var(--light-color);
    border-radius: 10px;
    padding: 12px 15px;
    width: fit-content;
    span {
      font-weight: 500;
    }

    @include lg {
      margin-top: 15px;
    }
  }

  &__left-links {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;

    @include xl {
      margin-top: 40px;
      gap: 30px;
    }
    @include lg {
      margin-top: 20px;
      flex-direction: column;
      max-width: 332px;
      gap: 15px;
    }
    @include md {
      margin-top: 20px;
      flex-direction: row;
      max-width: none;
    }
    @include sm {
      margin-top: 15px;
      flex-direction: column;
      max-width: 332px;

    }
  }

  &__btn {
    height: 100px;
    max-width: 332px;

    @include xl {
      height: 80px;
    }

    @include lg {
      height: 75px;
    }
    @include md {
        max-width: 270px;
    }

    @include sm {
      height: 65px;
      max-width: none;
    }
  }

  &__right {
    max-width: 400px;
    width: 100%;

    @include xl {
      max-width: 320px;
    }
    @include lg {
      max-width: 290px;
    }

  }

  &__right-wrapper {
    position: relative;
    display: block;
    padding-bottom: calc(712 / 400 * 100%);
    border-radius: 20px;
    overflow: hidden;

    @include md {
      padding-bottom: 120%;
    }


  }
  &__right-img{
    @include md {
        object-position: top;
    }
  }
}
