.front-block-2 {
  background-image: url(../images/front-block-2-bg.webp);
  padding: 196px 0 150px;

  @include xl {
    padding-bottom: 100px;
  }

  @include lg {
    padding: 150px 0 var(--indent);
  }

  @include md {
    .overlay {
      display: block;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }

  @include xs {
    padding-top: 120px;
  }

  &__title {
    text-align: left;
    margin-bottom: 20px;

    @include lg {
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38/30*100%);
    color: var(--light-color);
    margin-bottom: 40px;

    @include xl {
      font-size: 26px;
      margin-bottom: 30px;
    }

    @include lg {
      font-size: 22px;
      margin-bottom: 25px;
    }

    @include md {
      font-size: 20px;
      margin-bottom: 20px;
    }

    @include xs {
      font-size: 18px;
      margin-bottom: 15px;

      br {
        display: none;
      }
    }
  }

  &__info {
    display: flex;
    align-items: start;
    gap: 15px;
  }

  &__info-text {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(26/18*100%);
    margin-bottom: 20px;
    color: var(--light-color);

    @include xs {
      margin-bottom: 15px;
      font-size: 16px;
    }
  }

  &__bottom {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__number {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: calc(32/24*100%);
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include lg {
      padding: 20px;
      font-size: 22px;
    }

    @include xs {
      font-size: 20px;
    }
  }
}