.front-block-price {
  background-image: url(../images/front-block-price.webp);
  padding: 336px 0 250px;
  position: relative;

  @include xl {
    padding: 220px 0 100px;
  }

  @include lg {
    padding: 150px 0 80px;
  }

  @include sm {
    padding: 120px 0 40px;
  }
  .overlay {
    @include lg {
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__title {
    margin-bottom: 50px;
    @include xl {
      margin-bottom: 40px;
    }
    @include lg {
      margin-bottom: 30px;
    }
    @include md {
      margin-bottom: 20px;
    }
    @include sm {
      margin-bottom: 15px;
    }
  }
}
