.front-block-blog {
  background-image: url(../images/front-block-blogs.webp);
  padding: 270px 0 170px;
  position: relative;

  @include xl {
    padding: 220px 0 100px;
  }

  @include lg {
    padding: 150px 0 80px;
  }

  @include sm {
    padding: 120px 0 40px;
  }
  .overlay {
    @include lg {
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__inner {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include xl {
      margin-top: 40px;
    }
    @include lg {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 0px;
  }

  &__subtitle {
    margin-bottom: 50px;
    @include xl {
      margin-bottom: 40px;
    }
    @include lg {
      margin-bottom: 30px;
    }
    @include md {
      margin-bottom: 20px;
      width: fit-content;
    }
    @include sm {
      margin-bottom: 15px;
    }
  }

  &__right {
    max-width: 500px;
    width: 100%;
    height: unset;

    @include xl {
      max-width: 320px;
    }
    @include lg {
        max-width: 500px;
        margin: 0 auto;
    }
    @include md {
      max-width: none;
    }
  }

  &__right-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    @include lg {
        padding-bottom: 69%;
    }


  }
}
