.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  &__top {
    padding: 20px 0;

    @include lg {
      padding: 10px 0;
    }

    .search-btn{
      display: none;

      @include lg {
          position: absolute;
          right: 25px;
          display: flex;
      }
    }
  }

  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    position: relative;
  }

  .logo {
    @include lg {
      max-width: 84px;
    }

    @include xs {
        max-width: 70px;
    }
    &__text {
      @include lg {
        display: none;
      }
    }
  }

  .geo{
    @include md {
        display: none;
    }
  }
  .social-block{
    @include sm {
        display: none;
    }
  }

  .social-block {
    &__text {
      @include lg {
        display: none;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 50px;

    @include xl {
      gap: 20px;
    }
  }

  &__bottom{
    @include lg {
        display: none;
    }
  }

  &__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--light-color);
    box-shadow: 0px 765px 250px rgba(217, 217, 217, 0.01),
      0px 431px 250px rgba(217, 217, 217, 0.05),
      0px 191px 191px rgba(217, 217, 217, 0.09),
      0px 48px 105px rgba(217, 217, 217, 0.1);
    border-radius: 5px;
    padding: 8px 15px;

    @include xl {
      gap: 20px;
    }
  }

  &__bottom-btn {
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    height: 35px;
    background-color: var(--accent);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      scale: 1.1;
      background-color: var(--accent-hover);
    }
  }
}
