.map-block {
  padding-top: 80px;

  @include lg {
    padding-top: 40px;
  }

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: calc(44/36*100%);
    text-align: center;
    color: var(--light-color);
    margin-bottom: 30px;

    @include xl {
      font-size: 28px;
    }

    @include lg {
      font-size: 26px;
      margin-bottom: 30px;
    }

    @include md {
      font-size: 24px;
      margin-bottom: 25px;

      br {
        display: none;
      }
    }

    @include sm {
      font-size: 22px;
      margin-bottom: 20px;
    }

    @include xs {
      font-size: 20px;
    }
  }



  &__inner {
    max-width: 1920px;
    width: 100%;
    padding: 80px 0;
    position: relative;
    z-index: 1;

    @include xl {
      padding: var(--indent) 15px;

      .container {
        padding: 0;
      }
    }

    @include md {
      padding: 0 15px;
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
    }
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;

    @include md {
      position: static;
      margin: 0;
      height: 450px;
    }
  }

  &__form {
    max-width: 460px;
    width: 100%;
    background-color: var(--light-color);
    box-shadow: 0px 10px 60px rgba(163, 169, 183, 0.15);
    border-radius: 20px;
    padding: 40px;
    margin-left: auto;
    position: relative;

    @include xl {
      max-width: 400px;
    }

    @include md {
      margin: 0 auto;
    }

    @include sm {
      padding: 25px;
    }
  }

  &__form-title {
    font-weight: 500;
    font-size: 36px;
    line-height: calc(44/36*100%);
    margin-bottom: 15px;

    @include xl {
      font-size: 32px;
    }

    @include lg {
      font-size: 28px;
      margin-bottom: 10px;
    }
  }

  &__form-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: calc(30/22*100%);
    margin-bottom: 30px;

    @include xl {
      margin-bottom: 20px;
    }

    @include lg {
      margin-bottom: 10px;
    }

    @include md {
      font-size: 20px;
    }

  }

  &__form-inner {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
  }

  .checkbox-block {
    &__check {
      border-color: var(--default-color);
    }
  }

}