.map-block {
  padding-top: 80px;

  @include lg {
    padding-top: 40px;
  }

  &__inner {
    max-width: 1920px;
    width: 100%;
    padding: 80px 0;
    position: relative;
    z-index: 1;

    @include xl {
      padding: var(--indent) 15px;

      .container {
        padding: 0;
      }
    }

    @include md {
      padding: 0 15px;
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
    }
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include md {
      position: static;
      margin: 0;
      height: 450px;
    }
  }

  &__form {
    max-width: 490px;
    width: 100%;
    background-color: var(--light-color);
    box-shadow: 0px 20px 55px rgba(163, 169, 183, 0.15);
    border-radius: 24px;
    padding: 50px 45px;
    margin-left: auto;
    position: relative;

    @include xl {
      max-width: 400px;
      padding: 40px;
    }

    @include md {
      margin: 0 auto;
      box-shadow: -1px 0px 55px rgb(57 57 57 / 20%);
    }

    @include sm {
      padding: 25px;
    }
  }

  &__form-title {
    font-weight: 500;
    font-size: 32px;
    line-height: calc(40 / 32 * 100%);
    margin-bottom: 15px;

    @include xl {
      font-size: 30px;
    }

    @include lg {
      font-size: 26px;
      margin-bottom: 10px;
    }
    @include md {
      font-size: 24px;
    }
    @include sm {
      font-size: 22px;
    }
  }

  &__form-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: calc(30 / 22 * 100%);
    margin-bottom: 30px;

    @include xl {
      margin-bottom: 20px;
    }

    @include lg {
      margin-bottom: 10px;
    }

    @include md {
      font-size: 20px;
    }
    @include sm {
      font-size: 18px;
    }
  }

  &__form-inner {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
  }
}
