.menu {
  @include lg {
    display: none;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 71px;

    @include xl {
      gap: 50px;
    }
  }

  &__item {
    position: relative;

    &:has(.submenu) {
      &:hover {
        &::after {
          rotate: -90deg;
        }

        .submenu {
          transform: translateY(100%) scaleY(1);
        }
      }

      &::after {
        position: absolute;
        content: "";
        height: 4px;
        width: 7px;
        display: block;
        background-image: url(../images/icons/arrow-menu.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        right: -17px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;

        @include xl {
          right: -10px;
        }
      }
    }

    &::before {
      position: absolute;
      content: "";
      display: block;
      left: -37px;
      top: 50%;
      transform: translateY(-50%);
      width: 3px;
      height: 3px;
      background-color: #d9d9d9;

      @include xl {
        left: -26px;
      }
    }

    &:first-child::before {
      display: none;
    }

    &:active,
    &:hover {
      color: var(--primary);
    }
  }

  &__link {
    color: inherit;
  }
}

.submenu {
  position: absolute;
  bottom: 0;
  transform: translateY(100%) scaleY(0);
  transition: all 0.3s ease-in-out;
  transform-origin: top;
}
.search-form {
  position: fixed;
  z-index: 25;
  top: 90px;
  transform: translateX(250%);
  transition: all 0.5s ease-in-out;
  width: 100%;

  &.active {
    transform: translateX(0%);
  }

  @include lg {
    max-width: 100%;
  }

  &__inner {
    padding: 15px;
    border-radius: 12px;
    background-color: var(--light-color);
    box-shadow: -1px 0px 7px 0px #b8b8b8;
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    @include sm {
      flex-direction: column;
    }
  }

  &__icon {
    svg {
      width: 40px;
      path {
        fill: var(--primary);
      }
    }
  }

  &__inp {
    width: 100%;
  }

  &__btn {
    max-width: 250px;
    margin-left: auto;
  }
  &__btn,
  &__inp {
    height: 70px;
    @include sm {
      max-width: none;
    }
  }
}

.burger {
  display: none;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  position: relative;
  background-color: var(--primary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;

  .bar {
    transition: all 0.3s ease-in-out;
    width: 20px;
    height: 2px;
    background-color: var(--light-color);
    pointer-events: none;
  }

  &.active {
    .bar {
      &:nth-child(1) {
        rotate: 45deg;
        transform: translate(6px, 6px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        rotate: -45deg;
        transform: translate(5px, -5px);
      }
    }
  }

  @include lg {
    display: flex;
  }
}

.popup-menu {
  position: fixed;
  z-index: 51;
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 360px;
  height: 100vh;
  padding: 50px 30px 30px;
  overflow-y: auto;
  left: -150%;
  top: 0;
  transition: all 0.5s ease-in-out;

  &.active {
    left: 0;
  }

  &__burger {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__list {
    display: grid;
    gap: 10px;
    font-size: 20px;
    width: 100%;
    max-width: 80%;
  }

  &__item {
    position: relative;
    color: var(--light-color);
    display: inline-block;

    &:has(.popup-menu__submenu) {
      &:hover {
        color: var(--primary);

        .popup-menu__submenu {
          opacity: 1;
          grid-template-rows: 1fr;
          transform: scaleY(1);
          padding-top: 8px;
          height: auto;
        }
        &::after {
          rotate: -90deg;
        }
      }

      &::after {
        position: absolute;
        content: "";
        height: 8px;
        width: 14px;
        display: block;
        background-image: url(../images/icons/arrow-menu.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        right: -17px;
        top: 10px;
        transition: all 0.3s ease-in-out;

        @include xl {
          right: -10px;
        }
      }
    }

    &:active,
    &:hover {
      color: var(--primary);
    }
  }

  &__link {
    color: inherit;
    transition: all 0.3s ease-in-out;
  }

  &__submenu {
    display: grid;
    padding-top: 0px;
    gap: 8px;
    padding-left: 12px;
    grid-template-rows: 0fr;
    transition: all 0.4s ease;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    height: 0;
  }

  &__submenu-item{
    color: var(--light-color);
    &:hover{
      color: var(--primary);
    }
  }
  &__submenu-link{
    color: inherit;
  }
  .geo {
    display: none;
    @include md {
      display: flex;
      margin-top: 10px;
    }

    &__text {
      color: var(--light-color);
    }
  }
  .social-block {
    display: none;
    @include sm {
      margin-top: 10px;
      display: flex;
    }
    &__text {
      display: none;
    }
  }
}
