.menu {
  @include lg {
    display: none;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 71px;

    @include xl {
      gap: 50px;
    }
  }

  &__item {
    position: relative;

    &:has(.submenu) {
      &:hover {
        &::after {
          rotate: -90deg;
        }

        .submenu {
          transform: translateY(100%) scaleY(1);
        }
      }

      &::after {
        position: absolute;
        content: "";
        height: 4px;
        width: 7px;
        display: block;
        background-image: url(../images/icons/arrow-menu.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        right: -17px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;

        @include xl {
          right: -10px;
        }
      }
    }

    &::before {
      position: absolute;
      content: "";
      display: block;
      left: -37px;
      top: 50%;
      transform: translateY(-50%);
      width: 3px;
      height: 3px;
      background-color: #d9d9d9;

      @include xl {
        left: -26px;
      }
    }

    &:first-child::before {
      display: none;
    }

    &:active,
    &:hover {
      color: var(--primary);
    }
  }

  &__link {
    color: inherit;
  }
}

.submenu {
  position: absolute;
  bottom: 0;
  transform: translateY(100%) scaleY(0);
  transition: all 0.3s ease-in-out;
  transform-origin: top;
}
.search-form {
  position: fixed;
  z-index: 25;
  top: 40px;
  left: 15px;
  right: 15px;
  padding: 15px;
  border-radius: 12px;
  background-color: var(--light-color);
  box-shadow: -1px 0px 7px 0px #b8b8b8;

  &__inner {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__icon {
    svg {
      width: 40px;
      path {
        fill: var(--primary);
      }
    }
  }

  &__btn,
  &__inp {
    height: 70px;
  }

  &__inp {
    width: 100%;
  }

  &__btn {
    max-width: 250px;
    margin-left: auto;
  }
}

.burger {
  display: none;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  position: relative;
  background-color: var(--primary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;

  .bar {
    transition: all 0.3s ease-in-out;
    width: 20px;
    height: 2px;
    background-color: var(--default-color);
    pointer-events: none;
  }

  &.active {
    .bar {
      &:nth-child(1) {
        rotate: 45deg;
        transform: translate(6px, 6px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        rotate: -45deg;
        transform: translate(5px, -5px);
      }
    }
  }

  @include lg {
    display: flex;
  }
}

.popup-menu {
  position: fixed;
  z-index: 51;
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 360px;
  height: 100vh;
  padding: 30px;
  overflow-y: auto;
  left: -150%;
  top: 0;
  transition: all 0.5s ease-in-out;

  &.active {
    left: 0;
  }

  &__burger {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__list {
    display: grid;
    gap: 10px;
    font-size: 20px;
    width: fit-content;
  }

  &__item {
    position: relative;
    display: inline-block;

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 1px;
      bottom: -2px;
      background-color: var(--primary);
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }

  &__link {
    color: var(--light-color);
  }

  &__social {
    display: none;

    @include md {
      margin-top: 10px;
      display: flex;
    }
  }

  &__phone {
    display: none;
    width: fit-content;

    @include xs {
      margin-top: 10px;
      display: block;
    }
  }
}
