.politics-modal {
  border-radius: 20px;

  max-width: 600px !important;
  background-color: var(--light-color) !important;
  color: var(--default-color) !important;

  &__title {
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 20px;

    @include sm {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  &__text {
    display: grid;
    gap: 15px;

    @include sm {
      gap: 8px;
    }
  }
}

.modal {
  border-radius: 20px;
  background-color: var(--page-bg);

  &__callback {
    max-width: 400px;
    width: 100%;
  }

  &__callback-title {
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.2;
  }

  &__callback-subtitle {
    text-align: center;
    margin-bottom: 30px;
  }

  &__callback-inner {
    display: grid;
    gap: 15px;
  }

  &__callback-btn,
  &__callback-inp {
    height: 80px;
  }

}

#quiz-modal.quiz-block {

  &__inner {
    width: 100%;
    padding: 40px 0;
  }

}


.popup {
  border-radius: 26px;
  max-width: 500px;
  padding: 0;

  @include xs {
    border-radius: 16px;
  }

  &__inner {
    display: block;
  }

  &__left {
    display: none;
  }

  &__manager {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__manager-wrapper {
    position: relative;
    width: 120px;
    height: 120px;

    &::after {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #4CB34C;
      border: 3px solid var(--light-color);
      right: 8px;
      bottom: 7px;
    }
  }

  &__manager-img {
    border-radius: 50%;
  }

  &__manager-info {
    color: var(--light-color);
  }

  &__manager-name {
    font-weight: 500;
    font-size: 22px;
    line-height: calc(30/22*100%);
    margin-bottom: 5px;
  }

  &__manager-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16*100%);
  }

  &__title,
  &__subtitle {
    color: var(--light-color);
  }

  &__left-img {
    margin-top: auto;
  }

  &__title,
  &__form-title {
    font-weight: 500;
    font-size: 36px;
    line-height: calc(44/36*100%);
    margin-bottom: 15px;

    @include xl {
      font-size: 30px;
    }

    @include lg {
      font-size: 26px;
    }

    @include md {
      font-size: 24px;
      margin-bottom: 10px;
    }

    @include sm {
      font-size: 22px;
    }
  }

  &__subtitle,
  &__form-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: calc(30/22*100%);
    margin-bottom: 20px;

    @include lg {
        br{display: none;}
    }

    @include md {
      margin-bottom: 15px;
    }

    @include sm {
      font-size: 18px;
    }
  }

  &__form {
    background-color: var(--light-color);
    padding: 40px;
    border-radius: 0 20px 20px 0;
    max-width: 460px;
    width: 100%;

    @include lg {
        max-width: none;
    }

    @include sm {
      padding: 30px;
    }

    @include xs {
      padding: 25px;
      border-radius: 16px;
    }
  }

  &__form-title,
  &__form-subtitle {
    display: none;

    @include md {
      display: block;
    }
  }


  &__form-text {
    color: #999999;
  }

  &__label {


    &:hover,
    input:checked+.form__label-inner {
      color: var(--light-color) !important;

      svg {
        g {
          transition: all .3s;
          opacity: 1;
        }

        path {
          transition: all .3s;
          fill: var(--light-color);
        }
      }

      &.phone {
        color: var(--default-color) !important;

        svg {
          g {
            transition: all .3s;
            opacity: 1;
          }

          path {
            transition: all .3s;
            fill: var(--default-color);
          }
        }
      }
    }

    input:checked+.phone {
      background-color: var(--primary);
    }

    input:checked+.whatsapp {
      background-color: var(--bg-green);
    }

    input:checked+.telegram {
      background-color: #35A9E5;
    }
  }

  &__label-inner {
    color: #999999;

    svg path {
      fill: #999999;
    }
  }

  &__label-time {

    &:hover .form__label-inner,
    input:checked+.form__label-inner {
      color: var(--light-color);
      font-weight: 700;
      background-color: var(--accent);
      border-radius: 100px;
    }

  }

  &__inp-time {

    &:disabled {
      background-color: #E8E9EB;
      border: 1px solid #F1F1F1;

      &::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: calc(26/18*100%);
        color: var(--default-color);
        opacity: 0.3;
      }
    }
  }

  &__btn {
    margin-top: 10px;
  }

  &__show-title {
    display: block;
    margin-bottom: 30px;

    @include lg {
      margin-bottom: 20px;
    }

    @include md {
      margin-bottom: 15px;
    }
  }


}

.big-popup {
  max-width: 932px;
  padding: 0;
  width: 100%;

  @include md {
    max-width: 500px;
  }

  @include xs {
    border-radius: 16px;
  }

  &__inner {
    border-radius: 20px;
    background-image: url(../images/popup-bg.webp);
    overflow: hidden;
    display: flex;

    @include xs {
      border-radius: 16px;
    }
  }

  &__left {
    padding: 40px 40px 0;
    display: flex;
    flex-direction: column;
    max-width: 460px;
    width: 100%;

    @include lg {
      padding: 30px 30px 0;
    }

    @include md {
      display: none;
    }
  }

  &__form {
    padding: 40px;

    @include sm {
      padding: 30px;
    }

    @include xs {
      padding: 25px;
      border-radius: 16px;
    }
  }

}

#quiz.popup {
  max-width: 1200px;
  width: 100%;
}

#consultation-change{
  .popup__form{
    border-radius: 20px;
  }
  .popup__form-inp{
    margin-top: 10px;
  }
}