.nav-to-page {
  background-color: var(--primary);
  padding: 28px 0;

  @include md {
      padding: 20px 0;
  }
  
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    @include lg {
        gap: 20px;
    }

    @include md {
        flex-direction: column;
        gap: 10px;
    }
  }
  
  &__link {
    color: var(--light-color);
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}
