.new-level {
  margin-top: var(--indent);
  padding: var(--indent) 0;
  border-radius: 30px;
  background-image: url(../images/new-level-bg.webp);

  @include md {
      border-radius: 24px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include xl {
      gap: 15px;
    }
    @include lg {
      gap: 10px;
      padding-bottom: 10px;
      grid-auto-flow: column;
      overflow-x: auto;
    }
  }
  &__item {
    background-color: var(--light-color);
    border-radius: 20px;
    padding: 15px 15px 25px;

    @include lg {
      width: 300px;
    }
  }

  &__item-wrapper {
    position: relative;
    padding-bottom: calc(257 / 350 * 100%);
    overflow: hidden;
    border-radius: 10px;
  }

  &__item-info {
    padding: 25px 15px 0;

    @include xl {
        padding: 15px 0 0;
        br{display: none;}
    }
  }

  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);

    @include xl {
        font-size: 20px;
    }
  }

  &__item-text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(26 / 16 * 100%);

    @include xl {
        margin-top: 10px;
    }
  }
}
