.pages-links {
  padding-top: var(--indent);

  &.pages-links-gray{
    margin-top: var(--indent);
    padding-bottom: 238px;
    background-color: #F8F8F8;
    position: relative;
    @include xl {
        padding-bottom: 200px;
    }

    @include lg {
        padding-bottom: 150px;
    }
    @include md {
        padding-bottom: 100px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include xl {
      gap: 15px;
    }
    @include lg {
      gap: 10px;
      padding-bottom: 10px;
      grid-auto-flow: column;
      overflow-x: auto;
    }
  }
  &__item {
    position: relative;
    display: block;
    padding-bottom: calc(487 / 380 * 100%);
    border-radius: 20px;
    overflow: hidden;

    @include lg {
      width: 280px;
    }
  }

  &__item-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 42px 30px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include xl {
      padding: 25px;
    }
  }

  &__item-title {
    width: fit-content;
    background-color: var(--light-color);
    border-radius: 6px;
    padding: 3px 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(32 / 20 * 100%);

    @include xl {
      font-size: 18px;
      padding: 3px 15px;
    }
  }

  &__item-btn {
    margin-top: auto;
    height: 86px;

    @include xl {
      height: 80px;
    }

    @include lg {
      height: 75px;
    }

    @include sm {
      height: 65px;
    }
  }

  &__logo{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 91.3542%;

    @include lg {
        bottom: 20px;
    }
  }
}
