.place {
  padding-top: var(--indent);

  &__top {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;

    @include xl {
      margin-bottom: 40px;
      gap: 25px;
    }
    @include lg {
      margin-bottom: 30px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    @include md {
      margin-bottom: 25px;
    }
    @include sm {
      margin-bottom: 20px;
    }
  }
  &__title {
    text-align: left;
    max-width: 890px;
    margin-bottom: 0;
    @include lg {
      text-align: center;
    }
  }

  &__geo {
    width: 100%;
    height: 104px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: var(--light-gray-color);
    flex-shrink: 0;
  }

  &__geo-text {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(28 / 20 * 100%);
  }
  .cursor {
    @include lg {
      display: none;
    }
    @include md {
      display: flex;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 22px;
    @include xl {
      margin: 0 15px;
      gap: 15px;
    }
    @include md {
        grid-template-columns: repeat(1, 1fr);
      grid-auto-flow: column;
      overflow-x: auto;
      padding-bottom: 10px;
      gap: 10px;
    }
  }
  &__item {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 374px;

    @include xl {
      height: 320px;
    }
    @include lg {
      height: 220px;
    }
    @include md {
        width: 320px;
    }

    &:nth-child(1) {
      grid-column: span 4;
    }
    &:nth-child(2) {
      grid-column: span 5;
    }
    &:nth-child(3) {
      grid-column: span 3;
    }
    &:nth-child(4) {
      grid-column: span 3;
    }
    &:nth-child(5) {
      grid-column: span 5;
    }
    &:nth-child(6) {
      grid-column: span 4;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6){
        @include md {
            grid-column: span 1;
        }
    }
  }
}
