.price-form {
  padding-top: var(--indent);

  &.price-form-full {
    background-image: url(../images/price-form-bg.webp);
    margin-top: var(--indent);
    padding: var(--indent) 0;
    border-radius: 30px;
    position: relative;
    @include sm {
      border-radius: 20px;
    }
    .overlay{
      @include lg {
          display: block;
          background-color: rgba($color: #ffffff, $alpha: 0.5);
      }
    }

    .price-form {
      &__title{
        position: relative;
      }
      &__wrapper {
        background-color: transparent;
        padding: 0;
        border-radius: 0;

      }
      &__inner {
        position: relative;
        max-width: 750px;
        z-index: 1;
        width: 100%;
        margin: 0;
      }
    }
  }

  &__wrapper {
    position: relative;
    background-color: #fafafa;
    border-radius: 30px;
    padding: var(--indent) 0;
    overflow: hidden;

    @include lg {
      padding: var(--indent);
    }

    @include sm {
      border-radius: 20px;
      padding: var(--indent) 25px;
    }
  }

  &__inner {
    position: relative;
    max-width: 778px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
  }

  &__form {
    margin-bottom: 30px;

    @include lg {
      margin-bottom: 15px;
    }
  }

  &__label {
    padding: 11px 25px;
    background-color: var(--light-color);
    box-shadow: 16px 73px 30px rgba(209, 209, 209, 0.01),
      9px 41px 25px rgba(209, 209, 209, 0.05),
      4px 18px 19px rgba(209, 209, 209, 0.09),
      1px 5px 10px rgba(209, 209, 209, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__label-icon {
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    border-radius: 50%;

    svg {
      width: 11px;
      height: 11px;
    }
  }

  &__inp {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);

    &::placeholder {
      font-weight: 400;
      color: rgba(37, 42, 54, 0.4);
    }
  }

  &__items {
    display: grid;
    gap: 5px;

    @include md {
      gap: 15px;
    }
  }

  &__item {
    display: grid;
    gap: 15px;
    grid-template-columns: minmax(0, 366px) minmax(0, 180px) minmax(0, 202px);
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);

    @include md {
      grid-template-columns: repeat(1, 1fr);
      gap: 5px;
    }

    &:first-child {
      margin-bottom: 10px;
      @include md {
        display: none;
      }
    }
    &:nth-child(even) {
      .price-form__item-select,
      .price-form__item-price,
      .price-form__item-link {
        background-color: var(--light-color);
      }
    }
  }

  &__item-text {
    font-size: 14px;
    line-height: calc(24 / 14 * 100%);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(37, 42, 54, 0.3);
    text-align: center;
  }
  &__item-title {
    font-weight: 600;
    color: var(--default-color);
    text-align: left;
  }
  &__item-label {
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url(../images/icons/arrow-bottom.svg);
      display: block;
      width: 10px;
      height: 6px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__item-select {
    padding: 13px 20px;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;

    @include md {
      background-color: var(--light-color);
    }
  }

  &__item-price {
    text-align: center;
    padding: 13px;
    border-radius: 8px;
    @include md {
      background-color: var(--light-color);
    }
  }
  &__item-link {
    padding: 13px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    transition: var(--transition);
    @include md {
      background-color: var(--light-color);
    }

    @include hover {
      background-color: var(--accent) !important;
      color: var(--light-color);
      svg {
        path {
          fill: var(--light-color);
        }
      }
    }

    svg {
      rotate: -90deg;
      width: 10px;
      height: 6px;

      path {
        fill: var(--accent);
        transition: var(--transition);
      }
    }
  }

  &__logo {
    max-width: 563px;
    position: absolute;
    left: -87px;
    top: 50%;
    transform: translateY(-50%);

    svg {
      path {
        fill: #f6f6f6;
      }
    }
  }
}
