.procedure-underway {
  padding-top: var(--indent);

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include xl {
      gap: 15px;
    }
    @include lg {
      gap: 10px;
      padding-bottom: 10px;
      grid-auto-flow: column;
      overflow-x: auto;
    }
  }
  &__item {
    min-height: 390px;
    padding: 35px 30px;
    position: relative;
    background-color: var(--light-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include xl {
        br{display: none;}
    }

    @include lg {
      width: 300px;
    }

    svg{
      position: absolute;
      right: -67px;
      bottom: -84px;
    }
  }

  &__item--callback{
    @include lg {
        display: none;
    }
  }

  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);

    @include xl {
        font-size: 22px;
    }
  }

  &__item-text {
    margin-top: 15px;
  }

  &__item-step {
    margin-top: auto;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--default-color);
    font-weight: 600;
    font-size: 20px;
    line-height: calc(32 / 20 * 100%);
    color: var(--light-color);
  }

  &__item-info{
    display: grid;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 10px;

    p{
      margin: 0;
      &:first-child{
        font-weight: 500;
      }
    }
  }
  &__item-text{
    span{
      color: var(--accent);
      font-weight: 500;
    }
  }

  &__item-btn{
    margin-top: auto;
    height: 80px;
  }
}
