.qualification{
  margin-top: var(--indent);
  background-image: url(../images/qualification-bg.webp);
  padding: var(--indent) 0 863px;

  @include xl {
      padding-bottom: 560px;
  }
  @include md {
      padding-bottom: 460px;
  }

  &__btn{
    max-width: 366px;
    margin: 0 auto;
  }
}