.quiz {
  margin-top: var(--indent);
  padding: var(--indent) 0 420px;
  background-image: url(../images/quiz.webp);
  border-radius: 40px;

  @include xl {
    padding-bottom: 300px;
  }

  @include lg {
    padding-bottom: 200px;
  }

  @include md {
    padding-bottom: var(--indent);
  }

  &__title {
    margin-bottom: 0;
  }

  &__inner {
    display: flex;
    gap: 10px;
  }

  &__left {
    max-width: 470px;
    width: 100%;

    @include xl {
        max-width: 290px;
    }

    @include lg {
        display: none;
    }
  }

  &__left-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: block;
  }



  &__form {
    background-color: var(--light-color);
    border-radius: 20px;
    padding: 60px;
    width: 100%;
    position: relative;

    @include xl {
      padding: 30px;
    }

    @include sm {
      padding: 20px;
    }
  }

  .progress-bar {
    position: relative;
    overflow: hidden;
    max-width: 600px;
    width: 100%;
    height: 28px;
    background-color: #F5F5F5;
    border-radius: 20px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include xl {
      margin-bottom: 35px;
    }

    @include lg {
      margin-bottom: 30px;
    }

    @include md {
      margin-bottom: 20px;
    }

  }

  .progress-line {
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .line {
    width: 100%;
    top: 0;
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    -webkit-transition: 0.4s cubic-bezier(0.06, 0.58, 0.93, 0.87);
    -o-transition: 0.4s cubic-bezier(0.06, 0.58, 0.93, 0.87);
    transition: 0.4s cubic-bezier(0.06, 0.58, 0.93, 0.87);
  }

  .line::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: url("../images/line.webp");
    position: absolute;
    left: 0;
    top: 0;
  }

  .progress-text {
    max-width: 170px;
    height: 20px;
    font-size: 12px;
    line-height: calc(20/12*100%);
    text-align: center;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    position: relative;
  }

  .step {
    display: none;
  }

  .step.active {
    display: block;
  }

  .quiz-step__title {
    font-weight: 500;
    font-size: 36px;
    line-height: calc(44/36*100%);
    margin-bottom: 20px;

    @include xl {
      font-size: 30px;
    }

    @include lg {
      font-size: 26px;
      margin-bottom: 15px;
    }

    @include md {
      font-size: 24px;
    }

    @include sm {
      font-size: 22px;
    }
  }

  .step .quiz-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @include md {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .quiz-list__option {
    background-color: #F7F8F9;
    border-radius: 14px;
    padding: 10px 10px 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 97px;

    @include sm {
      gap: 10px;
    }
  }

  .quiz-list__option-title {
    font-weight: 400;
    font-size: 15px;
    line-height: calc(26/15*100%);
  }

  .quiz-list__icon {
    min-width: 37px;
    min-height: 37px;
    max-width: 37px;
    max-height: 37px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #E3E8EC;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quiz-list__option {

    &.active,
    &:hover {
      .quiz-list__icon {
        background-color: var(--primary);
      }

      path {
        stroke: var(--light-color);
        transition: all .3s;
      }

      .quiz-list__option-title {
        font-weight: 600;
      }
    }

  }

  .quiz-footer__btns {
    margin-top: 30px;
    display: flex;
    align-items: center;

    @include lg {
      margin-top: 20px;
    }

    @include xs {
      flex-direction: column;
      justify-content: center;
    }
  }

  .prev-step {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 700;

    @include lg {
      height: 60px;
      font-size: 12px;
    }

    @include md {
      justify-content: center;
    }

    @include xs {
      margin: 0;
    }
  }

  .next-step {
    height: 86px;
    gap: 10px;
    display: flex;
    align-items: center;
    max-width: 330px;


    @include lg {
      height: 60px;
      font-size: 14px;
    }

    @include sm {
      max-width: 250px;
    }

    svg {
      position: static;
    }
  }

  .quiz-needs-select {
    display: none;
    text-align: center;
    margin-top: 10px;
  }




  .last-step {

    &__title {
      font-weight: 500;
      font-size: 36px;
      line-height: calc(48/36*100%);
      text-align: center;
      margin-bottom: 30px;

      @include xl {
        font-size: 32px;
      }

      @include lg {
        font-size: 28px;
      }

      @include md {
        font-size: 26px;
        margin-bottom: 15px;
      }

      @include sm {
        font-size: 24px;
        margin-bottom: 5px;
      }

      @include xs {
        font-size: 20px;
      }
    }

    &__subtitle {
      font-weight: 500;
      font-size: 24px;
      line-height: calc(32/24*100%);
      margin-bottom: 15px;

      @include xl {
        font-size: 22px;
        margin-bottom: 30px;
      }

      @include lg {
        font-size: 20px;
        margin-bottom: 20px;
      }

      @include sm {
        margin-bottom: 10px;
      }

      @include xs {
        font-size: 18px;
        line-height: 1.2;

        br {
          display: none;
        }
      }
    }


    &__items {
      display: grid;
      gap: 10px;
      margin-bottom: 20px;

      @include sm {
        margin-bottom: 10px;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 10px;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    &__item-text {
      font-weight: 400;
      font-size: 18px;
      line-height: calc(26/18*100%);

      @include sm {
        font-size: 16px;
      }

      span {
        font-weight: 700;
      }
    }

    &__form-inner {
      max-width: 380px;
    }

    &__labels {
      margin-bottom: 30px;

      @include sm {
        margin-bottom: 15px;
      }

      @include xs {
        margin-bottom: 10px;
      }
    }

    &__img {
      position: absolute;
      right: 81px;
      bottom: 0;
      max-width: 40%;

      @include xl {
          max-width: 35%;
      }

      @include lg {
        right: 40px;
        opacity: 0.5;
      }

      @include md {
        display: none;
      }
    }
  }

}