.quotation {
  padding-top: var(--indent);
  &__inner {
    position: relative;
    border-radius: 24px;
    background-image: url(../images/quotation-bg.webp);
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 100px 70px;

    @include xl {
      padding: 40px;
      min-height: 420px;
      overflow: hidden;
    }
    @include lg {
      gap: 15px;
      justify-content: start;
    }
    @include md {
        br{display: none;}
    }
    @include sm {
        padding: 30px;
        align-items: center;
        padding-bottom: 250px;
    }

    @include xs {
        border-radius: 16px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: calc(40 / 32 * 100%);
    color: var(--light-color);

    @include xl {
      font-size: 28px;
    }
    @include lg {
      font-size: 26px;
    }
    @include md {
      font-size: 22px;
    }
  }

  &__name {
    background-color: var(--accent);
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    color: var(--light-color);
    width: fit-content;

    @include lg {
        font-size: 16px;
        max-width: 280px;
    }
  }
  &__img {
    position: absolute;
    right: 40px;
    bottom: 0;
    width: 37.584%;

    @include xl {
      right: 0;
    }
    @include lg {
        width: 30%;
    }
    @include sm {
        width: 216px;
        right: 50%;
        transform: translateX(50%);
    }
  }
}
