.reception {
  background-image: url("../images/reception-bg.webp");
  border-radius: 24px;
  position: relative;
  margin-top: 150px;
  padding-top: var(--indent);

  @include md {
    padding-bottom: var(--indent);
  }

  &__girl {
    width: 46.5755%;
    position: absolute;
    right: 40px;
    bottom: 0;

    @include lg {
      display: none;
    }
  }
  &__title {
    margin: 0;
    text-align: left;
  }
  &__description {
    text-align: left;
  }

  &__lists {
    display: flex;
    gap: 100px;
    @include md {
      gap: 20px;
    }
    @include sm {
        flex-direction: column;
    }
  }

  &__links {
    display: grid;
    gap: 20px;
    @include md {
      gap: 15px;
      height: fit-content;
    }
  }

  &__links-text {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(29 / 20 * 100%);
    margin-bottom: 5px;
  }

  &__links-tel {
    font-weight: 500;
    font-size: 32px;
    line-height: calc(40 / 32 * 100%);
    color: var(--primary);
    transition: var(--transition);

    @include hover {
      color: var(--primary-hover);
      text-decoration: underline;
      text-underline-offset: 3px;
    }
    @include md {
      font-size: 24px;
    }
  }

  &__links-soc {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    line-height: calc(22 / 16 * 100%);
  }

  &__links-link {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &__links-whatsapp {
    color: var(--whatsapp-color);
  }

  &__links-telegram {
    color: var(--telegram-color);
  }

  &__info {
    display: grid;
    gap: 25px;
    @include md {
      gap: 15px;
    }
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__info-icon {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);

    @include sm {
        width: 45px;
        height: 45px;
        min-width: 45px;
        min-height: 45px;
        padding: 5px;
        border-radius: 10px;
    }
  }

  &__route {
    margin-top: 20px;
    max-width: 690px;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    @include xl {
      max-width: 550px;
    }
    @include sm {
        margin-top: 15px;
    }
  }

  &__route-image {
    max-width: 258px;
    width: 100%;

    @include md {
      display: none;
    }
  }

  &__route-video {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 43px;

    @include md {
      margin-top: 20px;
    }
    @include sm {
        margin-top: 0;
    }
  }

  &__route-play {
    width: 80px;
    height: 80px;
    position: relative;
  }
}
