.result {
  padding-top: var(--indent);

  &__inner {
    display: flex;
    gap: 44px;

    @include xl {
      gap: 20px;
    }
    @include lg {
      display: block;
    }
  }

  &__left {
    max-width: 450px;
    width: 100%;
    height: unset;

    @include xl {
      max-width: 310px;
    }
    @include lg {
      display: none;
    }
  }

  &__left-wrapper {
    position: relative;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;

    @include xl {
      border-radius: 16px;
    }
  }

  &__right {
    .cursor {
      @include lg {
        display: none;
      }
      @include md {
        display: flex;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include xl {
      gap: 15px;
    }
    @include md {
      grid-auto-flow: column;
      padding-bottom: 10px;
      overflow-x: auto;
    }
  }

  &__item {
    border: 1px solid #efefef;
    border-radius: 20px;
    padding: 30px 15px 25px 25px;
    display: flex;
    align-items: start;
    gap: 20px;

    @include xl {
      gap: 15px;
      padding: 20px;
      border-radius: 16px;
    }
    @include md {
      flex-direction: column;
      gap: 10px;
      width: 290px;
    }
  }

  &__item-icon {
    width: 38px;
    height: 38px;
    min-width: 38px;
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    border-radius: 50%;
  }

  &__item-text {
    span {
      font-weight: 500;
    }
  }

  &__bottom {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 40px;

    @include xl {
      margin-top: 20px;
      gap: 20px;
    }
    @include lg {
      justify-content: center;
    }
    @include sm {
        flex-direction: column;
        gap: 15px;
    }
  }

  &__btn {
    height: 100px;
    max-width: 332px;

    @include xl {
      height: 80px;
      max-width: 280px;
    }

    @include lg {
      height: 75px;
    }

    @include sm {
      height: 65px;
    }
  }
}
