.reviews {
  padding-top: var(--indent);

  &__bg-img {
    max-width: 1754px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: -1;
  }

  &__title {
    margin-top: -52px;
  }

  &__images {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    @include lg {
      flex-direction: column;
    }
  }

  &__assessments {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 359px;
    width: 100%;

    @include lg {
      flex-direction: row;
      max-width: inherit;
      justify-content: center;
    }

    @include md {
      gap: 20px;
    }

    @include sm {
      gap: 30px;
    }

    @include xs {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }

  &__assessments-text {
    position: relative;
    font-size: 32px;
    font-weight: 500;
    line-height: calc(40 / 32 * 100%);

    @include md {
      font-size: 28px;
    }

    @include sm {
      font-size: 20px;
    }
  }

  &__assessments-img {
    position: absolute;
    width: 179px;
    height: 30px;
    bottom: 3px;
    padding-left: 15px;

    @include md {
      width: 138px;
      bottom: 10px;
      padding-left: 5px;
    }

    @include sm {
      bottom: 19px;
    }

    @include xs {
      bottom: -4px;
    }
  }

  &__assessments-stars {
    width: 178px;
    height: 74px;
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include sm {
      flex-direction: row;
    }
  }

  &__categories-top,
  &__categories-bottom {
    display: flex;
    gap: 10px;
    align-items: center;

    @include sm {
      flex-direction: column;
    }
  }

  &__categories-img {
    @include sm {
      max-width: 300px;
      width: 100%;
    }
  }
  &__swiper-wrapper {
    margin-top: 50px;

    @include xl {
      margin-top: 40px;
    }
    @include lg {
      margin-top: 30px;
    }
    @include md {
      margin-top: 20px;
    }
  }

  &__swiper-right {
    position: relative;
    display: flex;
    gap: 10px;
    max-width: 90px;
    width: 100%;
    margin-left: auto;
    margin-bottom: 20px;
    .swiper-button-prev,
    .swiper-button-next {
      position: static;
    }
  }

  &__swiper-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include lg {
        padding: 15px;
        border-radius: 16px;
    }
  }
}
