.service-info {
  padding-top: var(--indent);

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include xl {
      gap: 15px;
    }
    @include lg {
      gap: 10px;
      padding-bottom: 10px;
      grid-auto-flow: column;
      overflow-x: auto;
    }
  }
  &__item {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    min-height: 350px;
    padding-bottom: calc(590/380*100%);
    @include lg {
      width: 300px;
      .overlay{
        display: block;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
      }
    }
  }

  &__item-inner {
    position: absolute;
    top: 0;
    left: 0;
    padding: 35px 30px;

    @include xl {
        padding: 25px 20px;
    }
  }

  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);

    @include xl {
        font-size: 22px;
    }

    @include lg {
        font-size: 20px;
    }
  }

  &__item-text{
    margin-top: 15px;

    @include xl {
        margin-top: 10px;
    }
  }
}
