.services {
  padding-top: var(--indent);
  display: grid;
  gap: var(--indent);

  &__block {
    position: relative;
    min-height: 503px;
    padding: var(--indent) 0;
    border-radius: 20px;
    overflow: hidden;

    .overlay{
      @include lg {
          display: block;
          background-color: rgba($color: #ffffff, $alpha: 0.5);
        }
        @include sm {
        background-color: rgba($color: #ffffff, $alpha: 0.8);
          
      }
    }
  }

  &__bg-img{
    @include sm {
        object-position: right;
    }
  }

  &__inner {
    max-width: 815px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include xl {
        max-width: 750px;
    }
    @include md {
        gap: 15px;
    }
    @include xs {
        flex-direction: column;
        gap: 8px;
    }
  }

  &__list {
    display: grid;
    gap: 20px;
    height: fit-content;
    @include md {
        gap: 10px;
    }
    @include sm {
        gap: 8px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(36 / 24 * 100%);
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: var(--transition);
    @include hover {
      color: var(--primary);
    }
    @include md {
        font-size: 20px;
    }
    @include sm {
        font-size: 18px;
    }
  }

  &__min-list {
    margin: 25px 0 5px;
    display: grid;
    gap: 10px;
    @include md {
        margin: 15px 0 5px;
        gap: 8px;
        font-size: 16px;
    }
    @include sm {
        gap: 4px;
        margin: 10px 0 5px;
    }
  }

  &__min-link {
    transition: var(--transition);
    @include hover {
      color: var(--primary);
    }
  }
}
