.service {
    padding-top: 100px;

    @include lg {
        padding-top: 70px;
    }

    @include md {
        padding-top: 50px;
    }

    @include sm {
        padding-top: 30px;
    }

    &-surgery {
        min-height: 769px;
    }

    &__title {
        text-align: center;
    }

    &__block {
        border-radius: 24px;
        overflow: hidden;
        margin-top: 50px;

        @include md {
            margin-top: 25px;
        }

        @include xs {
            margin-top: 15px;
        }
    }

    &__inner {
        max-width: 750px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        position: relative;
        z-index: 3;

        @include xs {
            flex-direction: column;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include md {
            gap: 10px;
        }
    }

    &__link {
        font-size: 24px;
        line-height: calc(26/24 * 100%);
        font-weight: 500;
        text-decoration: underline 2px;
        text-underline-offset: 5px;

        @include md {
            font-size: 18px;
            text-decoration: underline 1.5px;
        }
    }

    &__min-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px 0;
    }

    &__min-item {
        padding-left: 16px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            left: 0;
            background-color: var(--accent);
            top: 10px;

            @include xs {
                top: 8px;
            }
        }
    }
}