.service-cards {
  padding-top: var(--indent);

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include xl {
      gap: 15px;
    }
    @include lg {
      gap: 10px;
      padding-bottom: 10px;
      grid-auto-flow: column;
      overflow-x: auto;
    }
  }
  &__item {
    position: relative;
    min-height: 420px;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: calc(570 / 380 * 100%);

    @include xl {
      border-radius: 16px;
      min-height: 530px;
    }

    @include lg {
      width: 300px;
    }
    @include sm {
        min-height: 470px;
    }
  }

  &__item-inner {
    position: absolute;
    top: 0;
    left: 0;
    padding: 35px 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--light-color);

    @include xl {
      padding: 20px;
      br{display: none;}
    }
  }

  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);

    @include xl {
      font-size: 22px;
    }
  }
  &__item-text {
    margin-top: 15px;

    @include xl {
      margin-top: 10px;
      font-size: 16px;
    }
  }
  &__item-list {
    display: grid;
    gap: 8px;
    font-size: 16px;
    margin: 20px 0 30px;

    @include xl {
      gap: 5px;
      margin: 10px 0 15px;
    }
  }
  &__item-btn {
    margin-top: auto;
    height: 86px;

    @include xl {
      height: 80px;
    }

    @include lg {
      height: 75px;
    }

    @include sm {
      height: 65px;
    }
  }
}
