.signboard {
  background-color: var(--blue-color);
  height: 63px;
  display: flex;
  gap: 30px;
  rotate: -3deg;
  width: 105%;
  margin: var(--indent) 0;

  &__item {
    display: flex;
    align-items: center;
    gap: 23px;
    min-width: 400px;
  }

  &__text {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(28/20*100%);
    text-transform: uppercase;
    color: var(--light-color);
    text-wrap-mode: nowrap;
  }
}
