.symptoms {
  padding-top: var(--indent);

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    @include xl {
      grid-template-columns: repeat(3, 1fr);
    }
    @include lg {
      gap: 10px;
      padding-bottom: 10px;
      grid-auto-flow: column;
      overflow-x: auto;
    }
  }
  &__item {
    padding: 20px 25px;
    background-color: var(--light-color);
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    min-height: 200px;

    @include lg {
      width: 280px;
    }
  }

  &__item-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    margin-bottom: 15px;

    @include lg {
        margin-bottom: 10px;
    }
  }
}
