.team {
  margin-top: var(--indent);
  padding-top: var(--indent);
  background-image: url(../images/team-bg.webp);
  background-repeat: no-repeat;

  &__title {
    margin-bottom: 816px;
  }

  &__wrapper{
    margin-top: 50px;
    @include xl {
        margin-top: 40px;
    }
    @include lg {
        margin-top: 30px;
    }
    @include md {
        margin-top: 20px;
    }
  }

  &__wrapper-right {
    position: relative;
    display: flex;
    gap: 10px;
    max-width: 90px;
    height: 40px;
    width: 100%;
    margin-left: auto;
    margin-bottom: 20px;
    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      margin: 0;
    }
  }

  &__swiper{
    overflow: visible;
  }

  &__slide{
    height: unset;
  }
  .doctors__item{
    height: 100%;
  }

}
