.video-reviews {
  margin-top: var(--indent);
  padding: var(--indent) 0;
  background-image: url("../images/video-reviews-bg.webp");
  &.video-reviews-small {
    background-image: url("../images/video-reviews-small-bg.webp");
  }

  &__videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;

    @include xl {
      gap: 30px 15px;
    }

    @include lg {
      gap: 10px;
      padding-bottom: 10px;
      overflow-x: auto;
      grid-auto-flow: column;
    }
  }

  &__video {
    @include lg {
      width: 320px;
    }
  }

  &__video-img {
    position: relative;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 22px;
    padding-bottom: calc(330 / 585 * 100%);
    @include lg {
      border-radius: 16px;
    }
    .play {
      &__inner {
        @include lg {
          width: 60px;
          height: 60px;
        }
      }
    }
  }

  &__video-review {
    position: relative;
    background-color: var(--light-color);
    border-radius: 20px;
    padding: 30px 40px;

    @include xl {
      padding: 20px 25px;
      br {
        display: none;
      }
    }

    @include lg {
      padding: 20px;
      border-radius: 16px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 26px;
      background-color: var(--light-color);
      rotate: -45deg;
      top: -6px;
      left: 45px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 31px;
      height: 28px;
      background-image: url(../images/icons/dots.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: 20px;
      left: 30px;
    }
  }

  &__links {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include xl {
      margin-top: 40px;
    }
    @include lg {
      margin-top: 30px;
    }
    @include md {
      margin-top: 20px;
    }

    @include md {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__button {
    max-width: 420px;
    width: 100%;

    &::after {
      display: none;
    }
  }

  &__whatsapp {
    display: flex;
    align-items: center;
    gap: 20px;

    @include md {
      gap: 10px;
    }
  }

  &__whatsapp-link {
    text-decoration: underline 1.2px;
    text-underline-offset: 2px;

    @include md {
      br {
        display: none;
      }
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include xl {
      gap: 15px;
    }

    @include lg {
      grid-auto-flow: column;
      padding-bottom: 10px;
      overflow-x: auto;
      gap: 10px;
    }
  }

  &__item {
    position: relative;
    min-height: 500px;
    border-radius: 20px;
    overflow: hidden;

    @include lg {
      width: 320px;
      min-height: 450px;
    }
  }

  &__item-link {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 174px;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(50px);
    border-radius: 13px;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    gap: 10px;

    @include hover {
      .play__inner {
        scale: 1.1;
      }
    }

    .play {
      position: static;
      max-height: 40px;
      max-width: 40px;
      &__inner {
        height: 40px;
        width: 40px;
      }
      svg {
        width: 12px;
      }
    }
  }

  &__item-descr {
    font-weight: 400;
    font-size: 13px;
    line-height: calc(20 / 13 * 100%);
  }

  &__item-info {
    position: absolute;
    bottom: 15px;
    right: 15px;
    left: 15px;
    background-color: var(--light-color);
    border-radius: 10px;
    min-height: 102px;
    padding: 25px;

    @include xl {
      br {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 26px;
      background-color: var(--light-color);
      rotate: -45deg;
      top: -6px;
      left: 45%;
    }
    &::after {
      content: "";
      position: absolute;
      width: 31px;
      height: 28px;
      background-image: url(../images/icons/dots.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: 52px;
      left: 192px;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;

    @include xl {
      margin-top: 40px;
    }
    @include lg {
      margin-top: 30px;
      gap: 15px;
    }
    @include md {
      margin-top: 20px;
    }
  }

}
