.video {
  padding-top: var(--indent);
  &__inner {
    aspect-ratio: 1.777;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    @include xl {
        margin: 0 15px;
    }
    @include xs {
        border-radius: 12px;
    }
  }
  .play {
    &__inner {
      width: 80px;
      height: 80px;
      @include xs {
        width: 60px;
        height: 60px;
        padding: 10px;
      }
    }
  }
}
