.video-reviews {
  margin-top: var(--indent);
  padding: var(--indent) 0;
  background-image: url("../images/video-reviews-bg.webp");

  &__videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;

    @include xl {
      gap: 30px 15px;
    }

    @include lg {
      gap: 10px;
      padding-bottom: 10px;
      overflow-x: auto;
      grid-auto-flow: column;
    }
  }

  &__video {
    @include lg {
      width: 320px;
    }
  }

  &__video-img {
    position: relative;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 22px;
    padding-bottom: calc(330 / 585 * 100%);
    @include lg {
      border-radius: 16px;
    }
    .play {
      &__inner {
        @include lg {
          width: 60px;
          height: 60px;
        }
      }
    }
  }

  &__video-review {
    position: relative;
    background-color: var(--light-color);
    border-radius: 20px;
    padding: 30px 40px;

    @include xl {
      padding: 20px 25px;
      br {
        display: none;
      }
    }

    @include lg {
      padding: 20px;
      border-radius: 16px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 26px;
      background-color: var(--light-color);
      rotate: -45deg;
      top: -6px;
      left: 45px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 31px;
      height: 28px;
      background-image: url(../images/icons/dots.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: 20px;
      left: 30px;
    }
  }

  &__links {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include xl {
      margin-top: 40px;
    }
    @include lg {
      margin-top: 30px;
    }
    @include md {
      margin-top: 20px;
    }

    @include md {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__button {
    max-width: 420px;
    width: 100%;

    &::after {
      display: none;
    }
  }

  &__whatsapp {
    display: flex;
    align-items: center;
    gap: 20px;

    @include md {
      gap: 10px;
    }
  }

  &__whatsapp-link {
    text-decoration: underline 1.2px;
    text-underline-offset: 2px;

    @include md {
      br {
        display: none;
      }
    }
  }

  &__tel-text {
    font-weight: 500;
    font-size: 20px;
  }

  &__tel-link {
    font-weight: 400;
    transition: var(--transition);

    @include hover {
      color: var(--primary-hover);
      text-decoration: underline 2px;
      text-underline-offset: 2px;
    }
  }
}
