.video-reviews {
    max-width: 1920px;
    width: 100%;
    background-image: url('../images/video-reviews-bg.webp');
    background-size: cover;

    &-repeat {

        &__plays-play {
            display: flex;
            flex-shrink: 0;

            .play__inner {
                width: 40px;
                height: 40px;
                padding: 13px;
                position: absolute;
                left: 15px;
            }

            @include hover {
                .play__inner {
                    padding: 0px;
                }
            }

            path {
                width: 14px;
                height: 14px;
            }
            
        }

        &__video-text {

            @include lg {
                font-size: 16px;
            }
        }
    }


    &__title {
        text-align: center;
    }

    &__inner {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include lg {
            margin-top: 25px;
            gap: 25px;
        }
    }

    &__videos {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 50px;
        column-gap: 30px;
        border-radius: 20px;

        &:has(.video-reviews-repeat__video) {
            grid-template-columns: repeat(3,1fr);

            @include lg {
                column-gap: 10px;
            }

            @include md {
                column-gap: 20px;
            }
        }


        @include md {
            display: flex;
            overflow-x: auto;
            scrollbar-width: thin;
            scrollbar-color: var(--primary) var(--light-color);
            padding-bottom: 20px;
            justify-content: flex-start;

            &::-webkit-scrollbar {
            background-color: black; 
            border-radius: 5px;
            }
            
            &::-webkit-scrollbar-track {
                background-color: black; 
                border-radius: 5px;
            }
            
            &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                border: 2px solid var(--light-color);
                box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
                
                &:hover {
                    background-color: var(--blue-color);
                }
            }
        }
    }

    &__video {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 22px;
        border-radius: 20px;
        overflow: hidden;

        @include md {
            flex-shrink: 0;
            transition: transform 0.3s ease;
            position: relative;
            max-width: 500px;
            width: 100%;
        }
    }

    &__video-img {
        position: relative;
        border-radius: 20px;

        &:has(.video-reviews__plays-text) {
            height: 500px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 15px 15px 15px;
            align-items: end;

            @include xl {
                height: 400px;
            }

            @include md {
                height: 500px;
            }
        }
    }

    &__video-review {
        background-color: var(--light-color);
        border-radius: 20px;
        padding: 30px 40px;
        position: relative;
        overflow: visible;

        &:has(.video-reviews-repeat__video-text) {
            padding: 25px 25px 25px 30px;
            &::before {
                left: 156px;

                @include xl {
                    left: 50%;
                }
            }

            @include xl {
                padding: 10px;
            }
        }

        @include lg {
            padding: 10px 15px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 26px;
            height: 26px;
            background-color: var(--light-color);
            rotate: -45deg;
            top: -12px;
            left: 40px;
        }
    }

    &__plays {

        &:has(.video-reviews__plays-text) {
            width: 174px;
            height: 64px;
            position: relative;
            border-radius: 13px;
            z-index: 2;
            background-color: var(--light-transparent-color);
            backdrop-filter: blur(100px);
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            padding: 12px 15px;
        }
    }

    &__plays-text {
        font-size: 13px;
        line-height: calc(20 / 13 * 100%);
        max-width: 94px;
        width: 100%;
    }

    &__video-text {
        text-align: left;
    }

    &__links {
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;

        &:has(.video-reviews__tel) {
            flex-direction: column;
            gap: 20px;
        }

        @include md {
            flex-direction: column;
            gap: 15px;
        }
    }

    &__button {
        max-width: 420px;
        width: 100%;

        &::after {
            display: none;
        }
    }

    &__whatsapp {
        display: flex;
        align-items: center;
        gap: 20px;

        @include md {
            gap: 10px;
        }
    }

    &__whatsapp-link {
        text-decoration: underline 1.2px;
        text-underline-offset: 2px;

        @include md {
            br {
                display: none;
            }
        }
    }

    &__tel-text {
        font-weight: 500;
        font-size: 20px;
    }

    &__tel-link {
        font-weight: 400;
        transition: var(--transition);
        
        @include hover {
            color: var(--primary-hover);
            text-decoration: underline 2px;
            text-underline-offset: 2px;
        }
    }
}