.wait {
  padding-top: var(--indent);

  &__title {
    margin-bottom: 0;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    @include xl {
      gap: 40px;
    }

    @include lg {
      gap: 25px;
    }

    @include md {
      gap: 10px;
      flex-direction: column;
    }

  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 32px;
    line-height: calc(40/32*100%);
    color: var(--light-color);

    @include lg {
        font-size: 26px;
    }

    svg {
      height: 28px;
      width: 18px;
      path {
        fill: var(--light-color);
      }
    }
  }

  &__btn{
    max-width: 360px;
    @include lg {
        font-size: 16px;
    }
  }
}