.what-is {
  padding-top: var(--indent);

  &__inner {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 15px;

    @include lg {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__title {
    text-align: left;
    margin: 0;

    @include lg {
      text-align: center;
      br {
        display: none;
      }
      width: 100%;
    }
  }

  &__content {
    max-width: 625px;
    width: 100%;
    background-color: #fbfbfb;
    border-radius: 25px;
    padding: 45px 30px 45px 60px;

    @include lg {
      max-width: none;
    }
    @include md {
      padding: 30px;
    }
    @include sm {
      padding: 25px;
      border-radius: 16px;
    }
  }

  &__content-title {
    font-weight: 500;
    font-size: 28px;
    line-height: calc(36 / 28 * 100%);

    @include lg {
      font-size: 26px;
      br {
        display: none;
      }
    }
    @include md {
      font-size: 24px;
    }
    @include sm {
      font-size: 22px;
    }
    @include xs {
      font-size: 20px;
    }
  }

  &__content-text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(28 / 20 * 100%);
    @include lg {
      br {
        display: none;
      }
    }
    @include md {
      margin-top: 10px;
      font-size: 18px;
    }
    @include sm {
      font-size: 16px;
    }
  }

  &__logo {
    max-width: 307px;
    position: absolute;
    top: 0;
    left: -45px;
    z-index: -1;
  }
}
