.world-implants {
  padding-top: var(--indent);

  &__inner {
    display: flex;
    align-items: start;
    gap: 40px;
    margin-bottom: 50px;

    @include xl {
      margin-bottom: 40px;
      gap: 20px;
    }
    @include lg {
      margin-bottom: 30px;
      display: block;
    }
    @include md {
      margin-bottom: 20px;
    }
  }

  &__left{
    @include lg {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: calc(40 / 32 * 100%);

    @include xl {
      font-size: 26px;
    }

    @include lg {
      br {
        display: none;
      }
      text-align: center;
    }
    @include sm {
        font-size: 24px;
    }
  }
  .cursor{
    @include lg {
        display: none;
    }
    @include md {
        display: flex;
    }
  }

  &__subtitle {
    margin-top: 15px;
    font-weight: 400;
    font-size: 22px;
    line-height: calc(30 / 22 * 100%);

    @include xl {
      font-size: 18px;
      margin-top: 10px;
    }
    @include lg {
      br {
        display: none;
      }
      text-align: center;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 756px;
    width: 100%;

    @include xl {
      max-width: 590px;
    }
    @include lg {
        max-width: none;
    }
    @include md {
        grid-auto-flow: column;
        padding-bottom: 10px;
        overflow-x: auto;
        gap: 10px;
    }
  }

  &__item {
    padding: 25px;
    background-color: #fafafa;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    @include xl {
      padding: 20px;
    }
    @include md {
        width: 260px;
    }
  }

  &__item-country {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;

    @include xl {
      margin-bottom: 5px;
    }
  }

  &__item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(28 / 20 * 100%);
    margin-bottom: 15px;

    @include xl {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  &__item-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 27px;

    @include xl {
      gap: 5px;
      margin-bottom: 15px;
    }
  }

  &__item-img {
    width: fit-content;
  }

  &__item-bottom {
    margin-top: auto;
  }

  &__item-price {
    margin-top: 5px;
    font-weight: 500;
    font-size: 22px;
    line-height: calc(30 / 22 * 100%);
    color: var(--accent);

    @include xl {
      font-size: 18px;
      margin-top: 0;
    }
  }

  &__bottom {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 100px 80px;
    
    @include xl {
        padding: 80px 60px;
    }
    @include lg {
        padding: 60px 40px;
    }
    @include md {
     .overlay{
      display: block;
      background-color: rgba($color: #ffffff, $alpha: 0.5);
     }   
    }
    @include sm {
        br{display: none;}
    }
    @include xs {
        padding: 40px 20px;
        border-radius: 16px;
    }
  }

  &__bottom-title {
    font-weight: 500;
    font-size: 32px;
    line-height: calc(40 / 32 * 100%);

    span {
      color: var(--blue-color);
    }

    @include xl {
        font-size: 28px;
    }
    @include lg {
        font-size: 26px;
    }
    @include xs {
        font-size: 24px;
    }
  }

  &__bottom-text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 22px;
    line-height: calc(30 / 22 * 100%);

    @include xl {
        font-size: 20px;
    }
    @include lg {
        font-size: 18px;
        margin-top: 10px;
    }
  }
}
